@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.GameCQ.FightingClasses.Queries.GetAllFightingClassesQuery.FightingClassListViewModel
@{
    Layout = "_Layout";
}
<head>
</head>
<body>
    <partial name="_NavBar">
        <div class="container">
                @foreach (var fightingClass in Model.FightingClasses)
                {
                    <div class="entry-content single-entry-content">

                        <div class="entry-header with-image full site-background main-gradient">
                            <div class="wp-block-image is-style-circle-mask"><figure class="aligncenter size-large is-resized"><img src="@fightingClass.ImageURL" alt="" width="300" height="300"/></figure></div>
                            <h1 class="section-title has-text-align-center image-name">@fightingClass.ClassType</h1>
                            <h1 class="has-very-light-gray-color has-text-color has-text-align-center image-description">@fightingClass.Description</h1>
                        </div>
                        <div class="has-text-align-center race-pick">
                            <form asp-controller="Unit" asp-action="Create" method="post">
                                <select name="race">
                                    <option value="Human">Human</option>
                                    <option value="Orc">Orc</option>
                                    <option value="Elf">Elf</option>
                                    <option value="Dwarf">Dwarf</option>
                                    <option value="Troll">Troll</option>
                                    <option value="Goblin">Goblin</option>
                                </select>
                                <div class="item-padding">
                                    <input type="text" name="name" value="" placeholder="Insert your character Name" />
                                    <p class="has-text-align-center has-medium-font-size">Name must be between 5 and 20 symbols.</p>
                                </div>
                                <div class="item-padding">
                                    <input type="text" hidden name="fightingClass" value="@fightingClass.ClassType" />
                                    <input type="submit" name="" value="Create Character" />
                                </div>
                            </form>
                        </div>
                    </div>
                    <hr />
                    <br />
                }
        </div>

</body>
