
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!----<meta http-equiv="refresh" content="1.2;url=https://localhost:44312/Battle/Command">><!---->
    <title>Killed</title>
</head>
<body>
    <h1 class="has-text-align-center">You have been Killed!</h1>
    <br />
    <div class="has-text-align-center item-padding">
        <p class="main-font-color has-normal-font-size">Returning Home...</p>
        <i class="icofont-skull-face"></i>
    </div>
</body>
</html>
