
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="refresh" content="1.2;url=https://localhost:44312/Unit/All">
    <title>Killed</title>
</head>
<body>
    <div class="fade-in item-padding has-text-align-center">
        <h1 class="has-large-font-size">You have been Killed!</h1>
        
        <div class="item-padding">
            <hr />
            <p class="main-font-color has-normal-font-size">Returning Home...</p>
            <i class="icofont-skull-face"></i>
        </div>
    </div>
</body>
</html>
