@model Application.CQ.Admin.Users.Queries.GetOnlineUsersQuery.UserPartialViewModel

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CurrentUser</title>
    <partial name="_SocialNavBar">
</head>
<body>
    <div class="fade-in item-padding has-text-align-center">
        <h2 class="main-font-color has-large-font-size">@Model.UserName</h2>
        <div class="item-padding">
            <hr />
        </div>
    </div>
</body>
</html>
