@model Application.CQ.Admin.Users.Queries.GetOnlineUsersQuery.UserPartialViewModel
@{
    var user = await this.UserManager.GetUserAsync(this.User);
}
<title>Current User</title>
<partial name="_SocialNavBar">
    <div class="fade-in item-padding has-text-align-center">
        <cache vary-by-query="id">
            <h1 class="main-font-color has-large-font-size item-padding">@Model.UserName</h1>
            <div class="item-padding">
                <hr />
            </div>
            <div class="item-padding">
                <i class="fas fa-meteor icon-color main-font-color has-huge-font-size"></i><span class="has-normal-font-size">Mastery Points : @Model.MasteryPoints</span>
            </div>
            <div class="item-padding">
                <i class="far fa-thumbs-up main-font-color has-huge-font-size"></i><span class="has-normal-font-size">Forum Points : @Model.ForumPoints</span>
            </div>
            @if (!Model.Friends.Any(f => f.Id == user.Id) && user.Id != Model.Id)
            {
                <div class="item-padding">
                    <a asp-controller="Friends" asp-action="SendRequest" asp-route-id="@Model.Id"><i class="fas fa-plus-square main-font-color has-huge-font-size"></i></a> <span class="has-normal-font-size">Send a Friend Request</span>
                </div>
            }
        </cache>
    </div>
