<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
    <partial name="_NavBar">
</head>
<body>
    <div class="fade-in">
        <h1 class="has-text-align-center secondary-font-color">Thank you for your feedback! Our team will soon review it!</h1>
        <div class="item-padding has-text-align-center">
            <p class="has-large-font-size main-font-color">In the meantime you can check your progress <a asp-controller="Profile" asp-action="Feedbacks">Here</a></p>
        </div>
    </div>
</body>
</html>
