<title>Success</title>
<partial name="_NavBar">
    <div class="fade-in starting-div">
        <h1 class="has-text-align-center secondary-font-color item-padding">Thank you for your feedback! Our team will soon review it!</h1>
        <div class="item-padding has-text-align-center">
            <hr />
            <p class="has-large-font-size main-font-color">In the meantime you can check your progress <a asp-controller="Profile" asp-action="Feedbacks"><span class="light-font-color">Here</span></a></p>
        </div>
    </div>
