@model Application.CQ.Admin.Users.Queries.GetOnlineUsersQuery.UserListViewModel
<title>Friends</title>
<partial name="_NavBar">
    <div class="container fade-in item-padding">
        <h1 class="has-text-align-center secondary-font-color item-padding">Friends</h1>
        <cache vary-by="@Model.Users">
            @foreach (var friend in Model.Users)
            {
                <div class="wp-block-cover item-padding">
                    <h2>@friend.UserName</h2>
                    <a asp-controller="Message" asp-action="All" asp-route-id="@friend.Id"><i class="far fa-comment-alt"></i></a>
                    <form asp-controller="Friends" asp-action="Remove" method="delete">
                        <input type="hidden" name="id" value="@friend.Id" />
                        <input type="submit" name="name" value="Delete" />
                    </form>
                </div>
            }
        </cache>
    </div>
