@{
    Layout = "_Layout";
}
<footer id="colophon" class="site-footer" style="background-color:rgba(37, 49, 107, 0.84)">
    <div id="bottom-footer">
        <div class="container clearfix">
            <p class="footer-menu has-text-align-center" style="font-size:23px;">No copyrights are reserved! The used images are not my property and their usage is NOT for commercial uses!</p>
            <div class="site-info-right"></div>
        </div>
    </div>
</footer>