@model string
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div class="has-text-align-center">
        <form asp-controller="Comment" asp-action="Create" method="post">
            <input type="text" name="id" value="@Model" hidden/>
            <input type="text" name="content" value="" placeholder="Write something..."/>
            <input type="submit" name="name" value="Submit" />
        </form>
    </div>
</body>
</html>
