
html {
    touch-action: manipulation;
}


.healthBar {
    background-color: green;
}

.player-healthBar {
    margin-right: 100px
}

.versus {
    padding-left: 177px;
    font-size: 50px;
    margin-top: -60px;
    margin-bottom: -20px
}

.manaBar {
    background-color: deepskyblue;
}

.player-manaBar {
    margin-right: 100px;
}

main.ng-enter {
    transition: 0.6s linear all;
    opacity: 0;
}

    main.ng-enter.ng-enter.ng-active {
        opacity: 1
    }

html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding-top: 100px
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
    margin: 0;
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline;
}

    audio:not([controls]) {
        display: none;
        height: 0;
    }

[hidden],
template {
    display: none;
}

a {
    background-color: transparent;
}

abbr[title] {
    border-bottom: 1px dotted;
}

b,
strong {
    font-weight: bold;
}

dfn {
    font-style: italic;
}

mark {
    background: #ff0;
    color: #2f3032;
}

small {
    font-size: 80%;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

img {
    border: 0;
}

.wp-block-image {
    max-width: 100%;
    margin-bottom: 1em
}

    .wp-block-image img {
        max-width: 100%
    }

    .wp-block-image.aligncenter {
        text-align: center
    }

    .wp-block-image.alignfull img, .wp-block-image.alignwide img {
        width: 100%
    }

    .wp-block-image .aligncenter, .wp-block-image .alignleft, .wp-block-image .alignright, .wp-block-image.is-resized {
        display: table;
        margin-left: 0;
        margin-right: 0
    }

wp-block-image .aligncenter {
    margin-left: auto;
    margin-right: auto
}

.wp-block-image .alignleft {
    float: left;
    margin-right: 1em
}

.wp-block-image .alignright {
    float: right;
    margin-left: 1em
}

.wp-block-image figcaption {
    margin-top: .5em;
    margin-bottom: 1em
}

.wp-block-media-text > figure > img, .wp-block-media-text > figure > video {
    max-width: unset;
    width: 100%;
    vertical-align: middle
}

wp-block-media-text.is-image-fill figure {
    height: 100%;
    min-height: 250px;
    background-size: cover
}

.wp-block-media-text.is-image-fill figure > img {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0
}

svg:not(:root) {
    overflow: hidden;
}

figure {
    margin: 0;
}

hr {
    box-sizing: content-box;
    height: 0;
    box-shadow: 0 0 10px 30px rgba(0, 0, 0, 0.35);
}

pre {
    overflow: auto;
}

code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

button {
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

    button[disabled],
    html input[disabled] {
        cursor: default;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

    input[type="checkbox"],
    input[type="radio"] {
        box-sizing: border-box;
        padding: 0;
        margin-right: 10px;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        height: auto;
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
        -webkit-appearance: none;
    }

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

legend {
    border: 0;
    padding: 0;
}

textarea {
    overflow: auto;
}

optgroup {
    font-weight: bold;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    padding: 0.3em;
    border: 1px solid #f5f5f5;
    background: #f9f9f9;
}

td {
    padding: 0.3em;
    border: 1px solid #f5f5f5;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
    color: #2f3032;
    font-family: 'Roboto', Helvetica, Arial, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.4;
    transition: color .3s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #2f3032;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: 'Rajdhani', Helvetica, Arial, Verdana, sans-serif;
    margin: 0 0 20px;
    transition: color .3s ease;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 22px;
}

p {
    margin: 0 0 15px;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0;
}

address {
    margin: 0 0 15px;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code {
    background-color: #f2f2f2;
    padding: 0.125em 0.25em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    font-size: 0.9375rem;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

big {
    font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background: #fff;
}

blockquote:before,
blockquote:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    position: absolute;
    top: 0;
    font-size: 150%;
    text-align: center;
    width: 60px;
    height: 100%;
    background: rgba(0,0,0,.05);
}

blockquote:before {
    content: "\f10d";
    left: 0;
}

blockquote:after {
    content: "\f10e";
    right: 0;
}

q:before {
    content: "\"";
    position: absolute;
    top: -.25em;
    left: 0;
    font-size: 2em;
    font-style: italic;
}

q:after {
    content: "\"";
    position: absolute;
    top: -.25em;
    right: 0;
    font-size: 2em;
    font-style: italic;
}

blockquote {
    quotes: "" "";
    position: relative;
    font-style: italic;
    font-size: 105%;
    font-weight: 500;
    padding: 10px 70px 10px 70px;
    background: #f9f9f9;
    border-radius: 2px;
}

q {
    quotes: "" "";
    position: relative;
    padding: 0 .75em;
}

hr {
    background-color: rgba(0,0,0,0.2);
    border: 0;
    height: 1px;
    margin-bottom: 15px;
}

ul,
ol {
    margin: 0 0 15px 20px;
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 15px;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 15px 15px;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

table {
    margin: 0 0 15px;
    width: 100%;
    border: 1px solid #f5f5f5;
}

.button,
a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
#infinite-handle span button,
#infinite-handle span button:hover,
#infinite-handle span button:focus,
#infinite-handle span button:active,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce a.added_to_cart,
.woocommerce #respond input#submit.alt.disabled, .woocommerce #respond input#submit.alt.disabled:hover, .woocommerce #respond input#submit.alt:disabled, .woocommerce #respond input#submit.alt:disabled:hover, .woocommerce #respond input#submit.alt:disabled[disabled], .woocommerce #respond input#submit.alt:disabled[disabled]:hover, .woocommerce a.button.alt.disabled, .woocommerce a.button.alt.disabled:hover, .woocommerce a.button.alt:disabled, .woocommerce a.button.alt:disabled:hover, .woocommerce a.button.alt:disabled[disabled], .woocommerce a.button.alt:disabled[disabled]:hover, .woocommerce button.button.alt.disabled, .woocommerce button.button.alt.disabled:hover, .woocommerce button.button.alt:disabled, .woocommerce button.button.alt:disabled:hover, .woocommerce button.button.alt:disabled[disabled], .woocommerce button.button.alt:disabled[disabled]:hover, .woocommerce input.button.alt.disabled, .woocommerce input.button.alt.disabled:hover, .woocommerce input.button.alt:disabled, .woocommerce input.button.alt:disabled:hover, .woocommerce input.button.alt:disabled[disabled], .woocommerce input.button.alt:disabled[disabled]:hover,
.edd-submit.button.azuma,
.mini-account .edd-submit,
.mini-account [type="submit"].edd-submit {
    font-weight: initial;
    text-transform: uppercase;
    background: #fcf0e3;
    padding: 0 20px;
    color: #2d364c;
    border: 0;
    border-radius: 2px;
    line-height: 36px;
    transition: all .3s ease;
}

    .button:hover,
    a.button:hover,
    button:hover,
    input[type="button"]:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover,
    #infinite-handle span button:hover,
    .woocommerce #respond input#submit:hover,
    .woocommerce a.button:hover,
    .woocommerce button.button:hover,
    .woocommerce input.button:hover,
    .woocommerce #respond input#submit.alt:hover,
    .woocommerce a.button.alt:hover,
    .woocommerce button.button.alt:hover,
    .woocommerce input.button.alt:hover,
    .woocommerce a.added_to_cart,
    .woocommerce a.added_to_cart:hover,
    .edd-submit.button.azuma:hover {
        background: #2d364c;
        color: #fcf0e3;
        transition: all .45s ease;
    }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
    color: #2f3032;
    border: 2px solid #f5f5f5;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    height: 38px;
    width: 50%;
}

input[type="number"] {
    color: #2f3032;
    border: 2px solid #f5f5f5;
    border-radius: 2px;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    height: 38px;
    width: 5%;
}

select {
    border: 2px solid #f5f5f5;
    padding: 3px 40px 3px 8px;
    height: 36px;
    background-color: #fff;
    line-height: 100%;
    background-image: url("images/select-arrow.png");
    background-position: right center;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 2px;
}

    select::-ms-expand {
        display: none;
    }

input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
textarea:focus {
    outline: 2px dotted #2f3032;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus,
select:focus {
    border: 2px solid #fbdab8;
    background-color: #fff9f2;
    outline: 2px dotted #2f3032;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"] {
    padding: 3px 8px;
}

textarea {
    padding: 3px 8px;
    width: 100%;
    min-height: 100px;
}

input[type="search"] {
    width: auto;
    max-width: 100%;
}

a {
    color: #ff7800;
    text-decoration: none;
}

    a:visited {
        opacity: 0.8;
    }

    a:hover,
    a:focus,
    a:active {
        text-decoration: underline dashed #1e283d;
    }

    a.button,
    .single-entry-content a.button {
        color: #fff;
        display: inline-block;
        text-decoration: none;
    }

        a.button:focus {
            outline: 2px dashed #233760;
        }

    a.read-more {
        font-size: 90%;
    }

    a.more-tag {
        display: none;
    }

.tag-read-more a.more-tag {
    display: inline-block;
    margin-bottom: 10px;
}


.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sticky {
    border-top: 5px solid #2d364c;
}

#masthead.scrolled #site-usp {
    padding: 5px 0;
    transition: padding 1s;
}

.container {
    width: 96%;
    max-width: 1400px;
    margin: 0 auto;
}

#masthead {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

    #masthead.full {
        background-color: transparent;
        transition: background-color .5s;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }

    #masthead.not-full {
        background-color: #2d364c;
        transition: background-color .5s;
    }

        #masthead.not-full.scrolled {
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            z-index: 999;
        }

    #masthead.full.scrolled {
        background-color: #2d364c;
        transition: background-color 1s;
    }

    #masthead > .container {
        display: grid;
        grid-template-columns: minmax(auto,300px) auto auto;
        align-items: center;
        padding: 20px 0;
        transition: padding .5s;
    }

    #masthead.scrolled > .container {
        padding: 5px 0;
        transition: padding 1s;
    }

#site-branding {
    grid-column: 1/2;
}

.toggle-nav {
    grid-column: 3/4;
    justify-self: end;
    display: none;
}

#site-navigation {
    grid-column: 2/3;
    justify-self: end;
}

#site-top-right {
    color: #fff;
    padding: 10px;
    grid-column: 3/4;
    justify-self: end;
}

    #site-top-right a {
        color: #fff;
        text-decoration: none;
    }

        #site-top-right a.button {
            color: #fff;
        }

#top-bar {
    display: block;
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255,.15);
    font-size: 12px;
    line-height: 1.6;
    transition: padding .5s;
}

#masthead.scrolled #top-bar {
    padding: 5px 0;
    transition: padding 1s;
}

.top-bar-widget-title {
    color: #fff;
    margin: 0;
    font-size: 1.2em;
}

#top-bar a.button, #top-bar a.button:hover,
#top-bar button, #top-bar input[type="button"], #top-bar input[type="reset"], #top-bar input[type="submit"],
#top-bar input[type="text"], #top-bar input[type="email"], #top-bar input[type="url"], #top-bar input[type="password"], #top-bar input[type="search"], #top-bar input[type="number"], #top-bar input[type="tel"], #top-bar input[type="range"], #top-bar input[type="date"], #top-bar input[type="month"], #top-bar input[type="week"], #top-bar input[type="time"], #top-bar input[type="datetime"], #top-bar input[type="datetime-local"], #top-bar input[type="color"], #top-bar textarea {
    height: auto;
    padding: 2px 5px;
    font-size: 12px;
    line-height: 12px;
    margin: 2px 0;
    max-width: 160px;
}

#top-bar p,
#top-bar .widget,
#top-bar .widget p {
    margin: 0;
    padding: 0;
    background: transparent;
}

#top-bar .widget {
    display: inline-block;
    width: 48%;
    vertical-align: top;
}

    #top-bar .widget:nth-child(odd) {
        text-align: left;
        margin-right: 1%;
    }

    #top-bar .widget:nth-child(even) {
        text-align: right;
        margin-left: 1%;
    }

#top-bar ul {
    position: relative;
    list-style: none;
}

#top-bar li {
    display: inline-block;
    margin-left: 12px;
}

    #top-bar li:first-child {
        margin-left: 0;
    }

#top-bar ul > li > ul {
    display: none;
    border: 1px;
    border-style: solid;
    border-color: rgba(255,255,255,0.1);
    border-top: 0;
    margin-top: 2px;
}

#top-bar ul > li.menu-item-has-children:hover > ul {
    position: absolute;
    display: block;
    margin-left: 0;
    text-align: left;
    z-index: 101;
}

    #top-bar ul > li.menu-item-has-children:hover > ul > li {
        display: block;
        margin-left: 0;
        padding: 5px;
    }

#top-bar ul > li.menu-item-has-children > ul > li.menu-item-has-children > ul,
#top-bar ul > li.menu-item-has-children > ul > li.menu-item-has-children > ul:hover {
    display: none;
}

.button.azuma:hover .edd-loading {
    border-top: .2em solid rgba(0,0,0,.2);
    border-right: .2em solid rgba(0,0,0,.2);
    border-bottom: .2em solid rgba(0,0,0,.2);
    border-left: .2em solid #000;
}

#site-branding h1,
#site-branding p,
#site-branding .custom-logo {
    margin: 0;
    padding: 0;
    line-height: 1;
}

#masthead #site-branding img.custom-logo {
    max-height: 200px;
    width: auto;
    transition: all .5s;
}

#masthead.scrolled #site-branding img.custom-logo {
    max-height: 100px;
    width: auto;
    transition: all .5s;
}

.site-title {
    font-family: 'Rajdhani', Helvetica, Arial, Verdana, sans-serif;
    font-weight: bold;
    font-size: 56px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    hyphens: none;
    text-align: center;
    padding-bottom: 100px;
    color: #ff7800;
}

    .site-title a,
    .site-title a:hover,
    .site-title a:active,
    .site-title a:focus {
        text-decoration: none;
        color: #ff7800;
    }

.masthead-block {
    background: transparent;
    height: 70px;
}

.title-tagline-hidden .site-title,
.title-tagline-hidden .site-description {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

#primary-menu {
    margin: 0;
    color: #fff;
    height: 50px;
}

    #primary-menu li {
        float: left;
        list-style: none;
    }

        #primary-menu li a {
            display: block;
            color: #fff;
            text-decoration: none;
            padding: 10px 15px;
            transition: color .3s ease;
        }

        #primary-menu li.highlight > a {
            background: #ff7800;
        }

        #primary-menu li.menu-item-has-children a {
            padding-right: 25px;
        }

    #primary-menu:hover li a {
        opacity: .2;
        transition: opacity .3s ease;
    }

    #primary-menu li:hover a {
        opacity: 1;
    }

    #primary-menu li a:hover {
        opacity: 1;
        transition: opacity .3s ease;
    }

    #primary-menu li.current-menu-item > a {
        color: #ff7800;
    }

    #primary-menu li.highlight.current-menu-item > a {
        color: #fff;
    }

    #primary-menu ul {
        position: sticky;
        opacity: 0;
        background-color: #2d364c;
        border-top: 2px solid #ff7800;
        box-shadow: 0 0 2px rgba(255,255,255,.3);
        margin: 0;
        border-radius: 0 0 3px 3px;
        z-index: 1;
        transition: all 0.3s ease;
    }

    #primary-menu li.menu-item-has-children.locked > ul,
    #primary-menu li.menu-item-has-children:hover > ul,
    #primary-menu li.menu-item-has-children a:focus ~ ul {
        visibility: visible;
        opacity: 1;
        top: 100%;
        transition: all 0.3s ease;
    }

    #primary-menu ul li {
        width: 100%;
        background: none;
    }

        #primary-menu ul li a {
            position: sticky;
            overflow: hidden;
        }

        #primary-menu ul li.menu-item-has-children ul,
        #primary-menu ul li.menu-item-has-children ul,
        #primary-menu ul li.menu-item-has-children.locked ul,
        #primary-menu ul li.menu-item-has-children:hover ul,
        #primary-menu ul li.menu-item-has-children a:focus ~ ul {
            top: 5px;
        }

    #primary-menu li.menu-item-has-children .sub-menu ul {
        border-radius: 0 3px 3px 3px;
    }

    #primary-menu li.menu-item-has-children .sub-menu a {
        padding-top: 20px;
        padding-bottom: 20px;
        margin: 0;
        transition: all 0.3s ease;
    }

    #primary-menu li.menu-item-has-children:hover .sub-menu a {
        padding-top: 8px;
        padding-bottom: 8px;
        transition: all 0.3s ease;
    }

.pagination {
    text-align: center;
    margin: 30px 0;
}

    .pagination span,
    .pagination .dots,
    .pagination a {
        background: #f9f9f9;
        padding: 6px 12px;
        border-radius: 2px;
        font-weight: normal;
        color: #2f3032;
        text-decoration: none;
    }

        .pagination a:hover,
        .pagination .current {
            color: #ff7800;
        }

html, body {
    height: 104%;
    background-color: rgb(255, 255, 255);
}


.site-content {
    overflow-x: hidden;
}

p.has-background {
    padding: 15px 20px;
    border-radius: 5px;
}

#primary-menu:hover .menu-item-has-children:after {
    opacity: .4;
}

#primary-menu li.menu-item-has-children:hover:after {
    opacity: .8;
}

#masthead .search-form input[type="submit"]:after,
#masthead .search-form button[type="submit"]:after,
#masthead .woocommerce-product-search button[type="submit"]:after {
    position: absolute;
    top: 0;
    left: 9px;
    font-family: 'Font Awesome 5 Free';
    content: "\f002";
    font-weight: 900;
    display: block;
    color: #fff;
}

.infinite-scroll #main nav.pagination {
    display: none;
}

.infinite-loader {
    color: #ff7800;
    margin-bottom: 20px;
}

    .infinite-loader .spinner {
        left: 50% !important;
    }

#infinite-handle {
    text-align: center;
    margin-bottom: 20px;
}

    #infinite-handle span {
        background: transparent;
        font-size: inherit;
        padding: 0;
    }

.infinite-wrap .entry-video {
    max-width: 100%;
    overflow: hidden;
}

/*--------------------------------------------------------------
## Responsive CSS
--------------------------------------------------------------*/

@media only screen and (max-width: 1120px) {
    .container {
        max-width: 100%;
        padding: 0 10px;
    }

    #above-footer ul.product_list_widget li {
        width: 25%;
    }

        #above-footer ul.product_list_widget li:nth-child(4n+1) {
            clear: both;
        }

        #above-footer ul.product_list_widget li:nth-child(6n+1) {
            clear: none;
        }
}

@media only screen and (max-width: 1024px) {
    #top-bar {
        border-width: 0;
    }

    .toggle-nav {
        display: block;
    }

    #masthead > .container {
        grid-template-columns: minmax(auto,60%) auto minmax(auto,24px);
        grid-template-columns: minmax(auto, calc(100% - 204px) ) 180px 24px;
    }

    #site-top-right {
        grid-column: 2/3;
        grid-row: 1/2;
        justify-self: center;
    }

    #site-navigation {
        display: none;
        width: 100%;
    }

        #site-navigation.menu-open {
            display: block;
            max-height: 50vh;
            padding-right: 10px;
            overflow: hidden auto;
            grid-column: 1/4;
            justify-self: end;
        }

    #primary-menu li {
        position: relative;
        width: 100%;
        border-top: 0;
        margin-top: 0;
    }

    #primary-menu > li:after {
        display: none;
    }

    #primary-menu li a {
        padding: 8px 10px;
        margin: 0;
    }

    #primary-menu li.menu-item-has-children a,
    #primary-menu li.menu-item-has-children a:hover {
        padding: 8px 40px 8px 10px;
    }

    .menu-item-has-children:after {
        display: none;
    }

    .menu-item-has-children .menu-item-has-children:after {
        display: none;
    }

    #primary-menu > li.current-menu-item,
    #primary-menu > li:hover,
    #primary-menu > li.current-menu-item:hover {
        background-image: none;
    }

    .menu-item-has-children .sub-trigger {
        position: relative;
        width: 30px;
        float: right;
        z-index: 100;
        cursor: pointer;
        display: block;
    }

        .menu-item-has-children .sub-trigger:after {
            position: absolute;
            top: 0;
            left: 0;
            font-family: 'Font Awesome 5 Free';
            font-size: 26px;
            font-weight: 900;
            text-shadow: none;
            content: "\f107";
        }

        .menu-item-has-children .sub-trigger.is-open:after {
            content: "\f106";
        }

    #primary-menu .sub-menu,
    #primary-menu li:hover > .sub-menu,
    #primary-menu ul.children,
    #primary-menu li:hover > ul.children,
    #primary-menu ul li.menu-item-has-children ul,
    #primary-menu ul li.menu-item-has-children ul,
    #primary-menu ul li.menu-item-has-children.locked ul,
    #primary-menu ul li.menu-item-has-children:hover ul,
    #primary-menu ul li.menu-item-has-children a:focus ~ ul {
        left: 0;
        border: none;
        box-shadow: none;
        display: none;
        opacity: 1;
        visibility: visible;
        position: relative;
        top: 0 !important;
        transition: none;
    }

        #primary-menu .sub-menu li,
        #primary-menu ul.children li {
            background: rgba(255,255,255,.03);
            padding: 0;
            text-transform: none;
            border: 0;
        }

    #primary-menu li.menu-item-has-children .sub-menu a {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    #primary-menu > li > ul {
        border: 0;
        padding: 0 5px;
    }

        #primary-menu > li > ul > li > ul {
            padding: 0 5px 0 10px;
        }

            #primary-menu > li > ul > li > ul > li > ul {
                padding: 0 5px 0 15px;
            }

    #primary-menu ul ul,
    #primary-menu ul li:hover ul {
        left: auto;
        top: auto;
    }

    .entry-header.with-image,
    .archive-header.with-image {
        min-height: 25rem;
    }
}

@media only screen and (max-width: 768px) {
    #top-bar .widget {
        display: block;
        width: 100%;
    }

        #top-bar .widget:nth-child(odd) {
            text-align: center;
            margin-right: 0;
        }

        #top-bar .widget:nth-child(even) {
            text-align: center;
            margin-left: 0;
        }

    #top-bar li {
        margin-left: 7px;
    }

        #top-bar li:first-child {
            margin-left: 0;
        }

    #grid-loop.layout-2,
    #grid-loop.layout-3,
    #grid-loop.layout-4,
    #main.infinite-grid.layout-2 .infinite-wrap,
    #main.infinite-grid.layout-3 .infinite-wrap,
    #main.infinite-grid.layout-4 .infinite-wrap,
    .woocommerce ul.products.columns-2,
    .woocommerce-page ul.products.columns-2,
    .woocommerce ul.products.columns-3,
    .woocommerce-page ul.products.columns-3,
    .woocommerce ul.products.columns-4,
    .woocommerce-page ul.products.columns-4,
    .woocommerce ul.products.columns-5,
    .woocommerce-page ul.products.columns-5,
    .woocommerce ul.products.columns-6,
    .woocommerce-page ul.products.columns-6,
    .woocommerce ul.products.columns-7,
    .woocommerce-page ul.products.columns-7,
    .woocommerce ul.products.columns-8,
    .woocommerce-page ul.products.columns-8,
    .edd_download_columns_0,
    .edd_download_columns_1,
    .edd_download_columns_2,
    .edd_download_columns_3,
    .edd_download_columns_4,
    .edd_download_columns_5,
    .edd_download_columns_6,
    .edd_download_columns_7,
    .edd_download_columns_8 {
        grid-template-columns: 50% 50%;
    }

    .featured-post-wrap {
        grid-template-columns: 100%;
        grid-column-gap: 0;
        grid-row-gap: 65px;
    }

    .footer {
        width: 47%;
    }

        .footer:nth-child(3) {
            clear: both;
        }

        .footer:nth-child(3),
        .footer:nth-child(4) {
            margin-top: 25px;
        }

    #masthead > .container {
        grid-template-columns: minmax(auto,60%) auto minmax(auto,24px);
        grid-template-columns: minmax(auto, calc(100% - 179px) ) 155px 24px;
    }

    #masthead .top-account:hover .mini-account,
    #masthead .top-cart:hover .mini-cart {
        transform: translateY(-480px);
        visibility: hidden;
        z-index: -99;
    }

    #masthead a.azuma-cart .item-count,
    #masthead a.azuma-wishlist .wishlist_products_counter_number,
    #masthead a.wishlist_products_counter .wishlist_products_counter_number {
        top: -2px;
    }

    #masthead a.azuma-cart {
        margin-right: 12px;
    }

    .entry-header.with-image,
    .archive-header.with-image {
        min-height: 20rem;
    }

    .site-info {
        float: none;
        width: 100%;
        text-align: center;
    }

    #primary {
        width: auto !important;
        float: none !important;
        margin-bottom: 25px;
    }

    #secondary {
        width: auto;
        float: none !important;
    }
}

@media print {
    #masthead,
    #secondary,
    #colophon,
    #respond {
        display: none;
    }
}

@media screen and ( max-width: 782px ) {
    html {
        margin-top: 46px !important;
    }

    * html body {
        margin-top: 46px !important;
    }
}

@supports ((-webkit-mask-image:none) or (mask-image:none)) or (-webkit-mask-image:none) {
    .is-style-circle-mask img {
        -webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
        mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg"><circle cx="50" cy="50" r="50"/></svg>');
        mask-mode: alpha;
        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;
        -webkit-mask-size: contain;
        mask-size: contain;
        -webkit-mask-position: center;
        mask-position: center;
        border-radius: none
    }
}

.is-small-text {
    font-size: 14px
}

.is-regular-text {
    font-size: 16px
}

.is-large-text {
    font-size: 36px
}

.is-larger-text {
    font-size: 48px
}

.has-drop-cap:not(:focus):first-letter {
    float: left;
    font-size: 8.4em;
    line-height: .68;
    font-weight: 100;
    margin: .05em .1em 0 0;
    text-transform: uppercase;
    font-style: normal
}

.has-drop-cap:not(:focus):after {
    content: "";
    display: table;
    clear: both;
    padding-top: 14px
}

p.has-background {
    padding: 20px 30px
}

p.has-text-color a {
    color: inherit
}

:root .has-pale-pink-background-color {
    background-color: #f78da7
}

:root .has-vivid-red-background-color {
    background-color: #cf2e2e
}

:root .has-luminous-vivid-orange-background-color {
    background-color: #ff6900
}

:root .has-luminous-vivid-amber-background-color {
    background-color: transparent;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -50px
}

:root .has-light-green-cyan-background-color {
    background-color: #7bdcb5
}

:root .has-vivid-green-cyan-background-color {
    background-color: #00d084
}

:root .has-pale-cyan-blue-background-color {
    background-color: #8ed1fc
}

:root .has-vivid-cyan-blue-background-color {
    background-color: #0693e3
}

:root .has-vivid-purple-background-color {
    background-color: #9b51e0
}

:root .has-very-light-gray-background-color {
    background-color: #eee
}

:root .has-cyan-bluish-gray-background-color {
    background-color: #abb8c3
}

:root .has-very-dark-gray-background-color {
    background-color: #313131
}

:root .has-pale-pink-color {
    color: #f78da7
}

:root .has-vivid-red-color {
    color: #cf2e2e
}

:root .has-luminous-vivid-orange-color {
    color: #ff6900
}

:root .has-luminous-vivid-amber-color {
    color: #ffa14d
}

:root .has-light-green-cyan-color {
    color: #7bdcb5
}

:root .has-vivid-green-cyan-color {
    color: #00d084
}

:root .has-pale-cyan-blue-color {
    color: #8ed1fc
}

:root .has-vivid-cyan-blue-color {
    color: #0693e3
}

:root .has-vivid-purple-color {
    color: #9b51e0
}

:root .has-very-light-gray-color {
    color: #eee
}

:root .has-cyan-bluish-gray-color {
    color: #abb8c3
}

:root .has-very-dark-gray-color {
    color: #313131
}

.has-small-font-size {
    font-size: 13px
}

.has-normal-font-size, .has-regular-font-size {
    font-size: 16px
}

.has-normal-font-size {
    font-size: 28px;
}

.has-medium-font-size {
    font-size: 20px
}

.has-large-font-size {
    font-size: 36px
}

.has-huge-font-size, .has-larger-font-size {
    font-size: 42px
}

.has-text-align-center {
    text-align: center
}

.has-text-align-left {
    text-align: left
}

.has-text-align-right {
    text-align: right
}

@media only screen and (max-width: 1024px) {
    #site-navigation {
        background: #7e5050;
    }
}


@keyframes bounce {
    20%,53%,80%,from,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1);
        transform: translate3d(0,0,0)
    }

    40%,43% {
        animation-timing-function: cubic-bezier(.755,.050,.855,.060);
        transform: translate3d(0,-30px,0)
    }

    70% {
        animation-timing-function: cubic-bezier(.755,.050,.855,.060);
        transform: translate3d(0,-15px,0)
    }

    90% {
        transform: translate3d(0,-4px,0)
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom
}

@keyframes flash {
    50%,from,to {
        opacity: 1
    }

    25%,75% {
        opacity: 0
    }
}

.flash {
    animation-name: flash
}

@keyframes pulse {
    from,to {
        transform: scale3d(1,1,1)
    }

    50% {
        transform: scale3d(1.05,1.05,1.05)
    }
}

.pulse {
    animation-name: pulse
}

@keyframes rubberBand {
    from,to {
        transform: scale3d(1,1,1)
    }

    30% {
        transform: scale3d(1.25,.75,1)
    }

    40% {
        transform: scale3d(.75,1.25,1)
    }

    50% {
        transform: scale3d(1.15,.85,1)
    }

    65% {
        transform: scale3d(.95,1.05,1)
    }

    75% {
        transform: scale3d(1.05,.95,1)
    }
}

.rubberBand {
    animation-name: rubberBand
}

@keyframes shake {
    from,to {
        transform: translate3d(0,0,0)
    }

    10%,30%,50%,70%,90% {
        transform: translate3d(-10px,0,0)
    }

    20%,40%,60%,80% {
        transform: translate3d(10px,0,0)
    }
}

.shake {
    animation-name: shake
}

@keyframes headShake {
    0% {
        transform: translateX(0)
    }

    6.5% {
        transform: translateX(-6px) rotateY(-9deg)
    }

    18.5% {
        transform: translateX(5px) rotateY(7deg)
    }

    31.5% {
        transform: translateX(-3px) rotateY(-5deg)
    }

    43.5% {
        transform: translateX(2px) rotateY(3deg)
    }

    50% {
        transform: translateX(0)
    }
}

.headShake {
    animation-timing-function: ease-in-out;
    animation-name: headShake
}

@keyframes swing {
    20% {
        transform: rotate3d(0,0,1,15deg)
    }

    40% {
        transform: rotate3d(0,0,1,-10deg)
    }

    60% {
        transform: rotate3d(0,0,1,5deg)
    }

    80% {
        transform: rotate3d(0,0,1,-5deg)
    }

    to {
        transform: rotate3d(0,0,1,0deg)
    }
}

.swing {
    transform-origin: top center;
    animation-name: swing
}

@keyframes tada {
    from,to {
        transform: scale3d(1,1,1)
    }

    10%,20% {
        transform: scale3d(.9,.9,.9) rotate3d(0,0,1,-3deg)
    }

    30%,50%,70%,90% {
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg)
    }

    40%,60%,80% {
        transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg)
    }
}

.tada {
    animation-name: tada
}

@keyframes wobble {
    from,to {
        transform: none
    }

    15% {
        transform: translate3d(-25%,0,0) rotate3d(0,0,1,-5deg)
    }

    30% {
        transform: translate3d(20%,0,0) rotate3d(0,0,1,3deg)
    }

    45% {
        transform: translate3d(-15%,0,0) rotate3d(0,0,1,-3deg)
    }

    60% {
        transform: translate3d(10%,0,0) rotate3d(0,0,1,2deg)
    }

    75% {
        transform: translate3d(-5%,0,0) rotate3d(0,0,1,-1deg)
    }
}

.wobble {
    animation-name: wobble
}

@keyframes jello {
    11.1%,from,to {
        transform: none
    }

    22.2% {
        transform: skewX(-12.5deg) skewY(-12.5deg)
    }

    33.3% {
        transform: skewX(6.25deg) skewY(6.25deg)
    }

    44.4% {
        transform: skewX(-3.125deg) skewY(-3.125deg)
    }

    55.5% {
        transform: skewX(1.5625deg) skewY(1.5625deg)
    }

    66.6% {
        transform: skewX(-.78125deg) skewY(-.78125deg)
    }

    77.7% {
        transform: skewX(.390625deg) skewY(.390625deg)
    }

    88.8% {
        transform: skewX(-.1953125deg) skewY(-.1953125deg)
    }
}

.jello {
    animation: jello 0.9s both;
}

@keyframes bounceIn {
    20%,40%,60%,80%,from,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    20% {
        transform: scale3d(1.1,1.1,1.1)
    }

    40% {
        transform: scale3d(.9,.9,.9)
    }

    60% {
        opacity: 1;
        transform: scale3d(1.03,1.03,1.03)
    }

    80% {
        transform: scale3d(.97,.97,.97)
    }

    to {
        opacity: 1;
        transform: scale3d(1,1,1)
    }
}

.bounceIn {
    animation-name: bounceIn
}

@keyframes bounceInDown {
    60%,75%,90%,from,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(0,-3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,25px,0)
    }

    75% {
        transform: translate3d(0,-10px,0)
    }

    90% {
        transform: translate3d(0,5px,0)
    }

    to {
        transform: none
    }
}

.bounceInDown {
    animation-name: bounceInDown
}

@keyframes bounceInLeft {
    60%,75%,90%,from,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    0% {
        opacity: 0;
        transform: translate3d(-3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(25px,0,0)
    }

    75% {
        transform: translate3d(-10px,0,0)
    }

    90% {
        transform: translate3d(5px,0,0)
    }

    to {
        transform: none
    }
}

.bounceInLeft {
    animation-name: bounceInLeft
}

@keyframes bounceInRight {
    60%,75%,90%,from,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    from {
        opacity: 0;
        transform: translate3d(3000px,0,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(-25px,0,0)
    }

    75% {
        transform: translate3d(10px,0,0)
    }

    90% {
        transform: translate3d(-5px,0,0)
    }

    to {
        transform: none
    }
}

.bounceInRight {
    animation-name: bounceInRight
}

@keyframes bounceInUp {
    60%,75%,90%,from,to {
        animation-timing-function: cubic-bezier(.215,.61,.355,1)
    }

    from {
        opacity: 0;
        transform: translate3d(0,3000px,0)
    }

    60% {
        opacity: 1;
        transform: translate3d(0,-20px,0)
    }

    75% {
        transform: translate3d(0,10px,0)
    }

    90% {
        transform: translate3d(0,-5px,0)
    }

    to {
        transform: translate3d(0,0,0)
    }
}

.bounceInUp {
    animation-name: bounceInUp
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    animation-name: fadeIn
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0,-100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInDown {
    animation-name: fadeInDown
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%,0,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInLeft {
    animation-name: fadeInLeft
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%,0,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInRight {
    animation-name: fadeInRight
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0,100%,0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.fadeInUp {
    animation-name: fadeInUp
}

@keyframes lightSpeedIn {
    from {
        transform: translate3d(100%,0,0) skewX(-30deg);
        opacity: 0
    }

    60% {
        transform: skewX(20deg);
        opacity: 1
    }

    80% {
        transform: skewX(-5deg);
        opacity: 1
    }

    to {
        transform: none;
        opacity: 1
    }
}

.lightSpeedIn {
    animation-name: lightSpeedIn;
    animation-timing-function: ease-out
}

@keyframes rotateIn {
    from {
        transform-origin: center;
        transform: rotate3d(0,0,1,-200deg);
        opacity: 0
    }

    to {
        transform-origin: center;
        transform: none;
        opacity: 1
    }
}

.rotateIn {
    animation-name: rotateIn
}

@keyframes rotateInDownLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0,0,1,-45deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInDownLeft {
    animation-name: rotateInDownLeft
}

@keyframes rotateInDownRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInDownRight {
    animation-name: rotateInDownRight
}

@keyframes rotateInUpLeft {
    from {
        transform-origin: left bottom;
        transform: rotate3d(0,0,1,45deg);
        opacity: 0
    }

    to {
        transform-origin: left bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInUpLeft {
    animation-name: rotateInUpLeft
}

@keyframes rotateInUpRight {
    from {
        transform-origin: right bottom;
        transform: rotate3d(0,0,1,-90deg);
        opacity: 0
    }

    to {
        transform-origin: right bottom;
        transform: none;
        opacity: 1
    }
}

.rotateInUpRight {
    animation-name: rotateInUpRight
}

@keyframes rollIn {
    from {
        opacity: 0;
        transform: translate3d(-100%,0,0) rotate3d(0,0,1,-120deg)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.rollIn {
    animation-name: rollIn
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale3d(.3,.3,.3)
    }

    50% {
        opacity: 1
    }
}

.zoomIn {
    animation-name: zoomIn
}

@keyframes zoomInDown {
    from {
        opacity: 0;
        transform: scale3d(.1,.1,.1) translate3d(0,-1000px,0);
        animation-timing-function: cubic-bezier(.55,.055,.675,.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475,.475,.475) translate3d(0,60px,0);
        animation-timing-function: cubic-bezier(.175,.885,.32,1)
    }
}

.zoomInDown {
    animation-name: zoomInDown
}

@keyframes zoomInLeft {
    from {
        opacity: 0;
        transform: scale3d(.1,.1,.1) translate3d(-1000px,0,0);
        animation-timing-function: cubic-bezier(.55,.055,.675,.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475,.475,.475) translate3d(10px,0,0);
        animation-timing-function: cubic-bezier(.175,.885,.32,1)
    }
}

.zoomInLeft {
    animation-name: zoomInLeft
}

@keyframes zoomInRight {
    from {
        opacity: 0;
        transform: scale3d(.1,.1,.1) translate3d(1000px,0,0);
        animation-timing-function: cubic-bezier(.55,.055,.675,.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475,.475,.475) translate3d(-10px,0,0);
        animation-timing-function: cubic-bezier(.175,.885,.32,1)
    }
}

.zoomInRight {
    animation-name: zoomInRight
}

@keyframes zoomInUp {
    from {
        opacity: 0;
        transform: scale3d(.1,.1,.1) translate3d(0,1000px,0);
        animation-timing-function: cubic-bezier(.55,.055,.675,.19)
    }

    60% {
        opacity: 1;
        transform: scale3d(.475,.475,.475) translate3d(0,-60px,0);
        animation-timing-function: cubic-bezier(.175,.885,.32,1)
    }
}

.zoomInUp {
    animation-name: zoomInUp
}

@keyframes slideInDown {
    from {
        transform: translate3d(0,-100%,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,0,0)
    }
}

.slideInDown {
    animation-name: slideInDown
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%,0,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,0,0)
    }
}

.slideInLeft {
    animation-name: slideInLeft
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%,0,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,0,0)
    }
}

.slideInRight {
    animation-name: slideInRight
}

@keyframes slideInUp {
    from {
        transform: translate3d(0,100%,0);
        visibility: visible
    }

    to {
        transform: translate3d(0,0,0)
    }
}

.slideInUp {
    animation-name: slideInUp
}

hr {
    height: 2px;
    border: 0;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.action-div {
    padding-left: 750px
}

.player-sprite {
    padding-left: 60px;
    margin-right: 190px
}

.battle-container {
    padding-top: 50px;
    padding-left: 100px
}

.image-description {
    background-color: transparent;
    color: #ffd400;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -50px
}

.site-home {
    margin-top: -54px;
    background-color: rgba(59, 92, 252, 0.69)
}

.creation-button {
    border-radius: 43px;
}

.site-background {
    background-color: #2d364c;
    background-repeat: repeat-y;
}

.image-name {
    color: rgb(100, 255, 188);
    margin-bottom: 100px;
    font-size: 50px
}

.race-pick {
    padding-bottom: 30px;
    padding-top: 10px;
}

.item-padding {
    padding-top: 30px;
}

.nav-font-size {
    font-size: 30px;
}

.secondary-font-color {
    color: #2b5568
}

.text-color {
    color: #2f3032;
}

.main-font-color {
    color: #2b5568;
}

.primary-background-color {
    background-color: #2d364c;
    background-repeat: repeat-y
}

i {
    color: #fcf0e3;
}

.light-font-color {
    color: #fcf0e3
}

.main-nav-bar {
    background-color: #c39873;
    width: 1985px;
    height: 60px;
    margin-left: -25px;
    padding-top: 18px;
    position: relative;
}


#site-navigation {
    font-family: 'Rajdhani', Helvetica, Arial, Verdana, sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .07em;
    background-color: #c39873;
    width: 1986px;
    height: 100px;
    margin-left: -150px;
    padding-top: 20px;
}



.main-gradient {
    background: rgb(195,151,114);
    background: repeating-linear-gradient(180deg, rgba(195,151,114,1) 8%, rgba(255,248,241,1) 100%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


i:hover {
    animation: 0.8s;
    animation-name: iconHover;
    color: #346175;
}

i.secondary-font-color:hover {
    animation: 0.8s;
    animation-name: secondaryIconHover;
    color: #fcf0e3;
}

i.main-font-color:hover {
    animation: 0.8s;
    animation-name: secondaryIconHover;
    color: #fcf0e3;
}

i.text-color:hover {
    animation: 0.8s;
    animation-name: secondaryIconHover;
    color: #fcf0e3;
}

@keyframes secondaryIconHover {
    from {
        color: #346175;
        opacity: 0.8;
    }

    to {
        color: #fcf0e3;
        opacity: 1;
    }
}

@keyframes iconHover {
    from {
        color: #fcf0e3;
        opacity: 0.8;
    }

    to {
        color: #346175;
        opacity: 1;
    }
}


.item-margin {
    margin-top: 80px
}

@-webkit-keyframes flip-vertical-fwd {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }

    100% {
        -webkit-transform: translateZ(160px) rotateY(180deg);
        transform: translateZ(160px) rotateY(180deg);
    }
}

@keyframes flip-vertical-fwd {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }

    100% {
        -webkit-transform: translateZ(160px) rotateY(180deg);
        transform: translateZ(160px) rotateY(180deg);
    }
}

.flip-vertical-fwd {
    -webkit-animation: flip-vertical-fwd 3s cubic-bezier(.175,.885,.32,1.275) infinite both;
    animation: flip-vertical-fwd 3s cubic-bezier(.175,.885,.32,1.275) infinite both
}

.hero-border {
    border-top: 60px;
    border-top-style: solid;
    border-radius: 1200px;
    border-top-color: #e2c9b4;
    border-bottom: 60px;
    border-bottom-style: solid;
    border-bottom-color: #e2c9b4;
}

.has-narrow-width {
    width: 30%;
}

@media screen and (max-width: 500px) {
    .main-nav-bar li {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
    }
}

.secondary-background-color {
    background-color: #bdc0c6;
    background-repeat: round
}

rotate-vert-center {
    -webkit-animation: rotate-vert-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
    animation: rotate-vert-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite both;
}

@-webkit-keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

@keyframes rotate-vert-center {
    0% {
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }

    100% {
        -webkit-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}

.fade-in {
    -webkit-animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.topic-content-border {
    border: 15px;
    border-color: #fcf0e2;
    border-style: solid;
    border-radius: 80px;
    background-color: #fcf3e5;
}

.comment-content-input {
    height: 250px;
    width: 600px;
}

.main-button {
    height: 50px;
    width: 200px;
    font-size: 23px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.topic-content-input {
    height: 400px;
    width: 1200px;
}

.fade-out {
    -webkit-animation: fade-out 0.8s ease-out alternate both;
    animation: fade-out 0.8s ease-out alternate both;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.slide-in-left {
    animation: slide-in-left 0.5s cubic-bezier(0.340, 0.460, 0.450, 0.900) alternate;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }

    100% {
        transform: translateX(260px);
        opacity: 1;
    }
}

.roll-in-bottom {
    animation: roll-in-bottom 0.45s ease-out alternate;
}

@keyframes roll-in-bottom {
    0% {
        transform: translateY(0px) translateX(0px) rotate(540deg);
        opacity: 1;
    }

    100% {
        transform: translateY(-5px) translateX(280px) rotate(0deg);
        opacity: 1;
        transform-origin: center;
    }
}

.enemy-hit {
    animation: enemy-hit 1.2s ease-out alternate;
}

@keyframes enemy-hit {
    0% {
        filter: blur(2p23);
    }

    100% {
        filter: blur(0px);
    }
}

.shadow-drop-2-center {
    -webkit-animation: shadow-drop-2-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
    animation: shadow-drop-2-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
}

@-webkit-keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

@keyframes shadow-drop-2-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }

    100% {
        -webkit-transform: translateZ(50px);
        transform: translateZ(50px);
        -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}

.selected-main-font-color {
    color: #fcf0e3;
    background-color: #2b5568;
}

.puff-in-center {
    -webkit-animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
}

@-webkit-keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes puff-in-center {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        -webkit-filter: blur(4px);
        filter: blur(4px);
        opacity: 0;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

.swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
    animation: swing-in-top-fwd 0.5s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
        transform: rotateX(-100deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 0;
    }

    100% {
        -webkit-transform: rotateX(0deg);
        transform: rotateX(0deg);
        -webkit-transform-origin: top;
        transform-origin: top;
        opacity: 1;
    }
}

.is-clickable {
    cursor: pointer;
}

#scroll-top {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    outline: none; /* Remove outline */
    padding: 15px; /* Some padding */
}

    #scroll-top:hover {
        animation: 0.8s;
        animation-name: scrollTopHover;
        color: #c39873;
    }

.popup {
    position: fixed;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fcf0e3;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    width:60%;
}

@keyframes scrollTopHover {
    from {
        color: #2b5568;
        opacity: 0.7;
    }

    to {
        color: #c39873;
        opacity: 1;
    }
}

.blur-all {
    animation: 0.8s;
    animation-name: blurAll;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}

@keyframes blurAll {
    from {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }

    to {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
}

.blur-back {
    animation: 0.8s;
    animation-name: blurBack;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

@keyframes blurBack {
    from {
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }

    to {
        -webkit-filter: blur(0px);
        -moz-filter: blur(0px);
        -ms-filter: blur(0px);
        filter: blur(0px);
    }
}
