@model Application.CQ.Admin.GameContent.Items.Queries.GetAllToolsQuery.ToolsListViewModel
<title>Create Item</title>
<partial name="_AdminNavBar">
    <div class="starting-div fade-in ">
        <h1 class="main-font-color has-large-font-size item-padding">Create an Item</h1>
        <div class="item-padding">
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create" method="post">
                        <div class="form-group item-padding">
                            <label for="slot" class="contro-label has-normal-font-size has-normal-font-size">Slot</label>
                            <br />
                            <select class="slot" id="slot" name="slot">
                                <option selected value="None">Nothing Selected</option>
                                <option value="Weapon">Weapon</option>
                                <option value="Armor">Armor</option>
                                <option value="Trinket">Trinket</option>
                                <option value="Loot Box">Loot Box</option>
                                <option value="Loot Key">Loot Key</option>
                                <option value="Material">Material</option>
                                <option value="Tool">Tool</option>
                            </select>
                        </div>
                        <div class="form-group fade-in item-padding has-normal-font-size" id="name" style="display:none">
                            <label for="input-name" class="contro-label has-normal-font-size">Name</label>
                            <br />
                            <input type="text" id="input-name" name="name" class="form-control" required />
                        </div>
                        <div class="form-group fade-in item-padding" id="level" style="display:none">
                            <label for="input-level" class="contro-label has-normal-font-size">Level</label>
                            <br />
                            <input id="input-level" name="level" type="number" min="1" max="10" width="50" height="50" />
                        </div>
                        <div class="form-group fade-in item-padding" id="class-type" style="display:none">
                            <label for="input-classtype" class="contro-label has-normal-font-size">ClassType</label>
                            <br />
                            <input type="text" id="input-classtype" name="classType" class="form-control" />
                        </div>
                        <div class="form-group fade-in item-padding" id="stamina" style="display:none">
                            <label for="input-stamina" class="contro-label has-normal-font-size">Stamina</label>
                            <br />
                            <input id="input-stamina" name="stamina" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" id="strength" style="display:none">
                            <label for="input-strength" class="contro-label has-normal-font-size">Strength</label>
                            <br />
                            <input id="input-strength" name="strength" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" id="agility" style="display:none">
                            <label for="input-agility" class="contro-label has-normal-font-size">Agility</label>
                            <br />
                            <input id="" input-agility"" name="agility" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" id="intellect" style="display:none">
                            <label for="input-intellect" class="contro-label has-normal-font-size">Intellect</label>
                            <br />
                            <input id="input-intellect" name="intellect" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" id="spirit" style="display:none">
                            <label for="input-spirit" class="contro-label has-normal-font-size">Spirit</label>
                            <br />
                            <input id="input-spirit" name="spirit" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" id="attack" style="display:none">
                            <label for="input-attackpower" class="contro-label has-normal-font-size">AttackPower</label>
                            <br />
                            <input id="input-attackpower" name="attackPower" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" id="armor" style="display:none">
                            <label for="input-armorvalue" class="contro-label has-normal-font-size">ArmorValue</label>
                            <br />
                            <input id="input-armorvalue" name="armorValue" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" id="resistance" style="display:none">
                            <label for="input-resistancevalue" class="contro-label has-normal-font-size">ResistanceValue</label>
                            <br />
                            <input id="input-resistancevalue" name="resistanceValue" class="form-control" min="1" max="100" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="sell">
                            <label for="input-sellprice" class="contro-label has-normal-font-size">SellPrice</label>
                            <br />
                            <input id="input-sellprice" name="sellPrice" class="form-control" min="1" max="1000" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="buy">
                            <label for="input-buyprice" class="contro-label has-normal-font-size">BuyPrice</label>
                            <br />
                            <input id="input-buyprice" name="buyPrice" class="form-control" min="1" max="1000" />
                        </div>
                        <div class="form-group fade-in item-padding" id="boxType" style="display:none">
                            <label for="rarity-select" class="contro-label has-normal-font-size">Rarity</label>
                            <br />
                            <select id="rarity-select" name="boxType">
                                <option value="Bronze">Bronze Coin Box</option>
                                <option value="Silver">Silver Coin Box</option>
                                <option value="Golden">Golden Coin Box</option>
                                <option value="Material">Material Box</option>
                                <option value="Tool">Tool Box</option>
                                <option value="Consumeable">Consumeable's Box</option>
                                <option value="Junk">Junk Box</option>
                                <option value="Key">Key Box</option>
                                <option value="Consumeable">Consumeable's Box</option>
                                <option value="Toy">Toy Box</option>
                            </select>
                        </div>
                        <div class="form-group fade-in item-padding" id="rewardAmplifier" style="display:none">
                            <label for="input-reward" class="contro-label has-normal-font-size">Reward</label>
                            <br />
                            <input id="input-reward" type="number" name="rewardAmplifier" class="form-control" min="1" max="99" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="requiresKey">
                            <label for="input-craftable" class="contro-label has-normal-font-size">Is Craftable</label>
                            <br />
                            <input id="input-craftable" class="form-control" type="radio" value="true" name="requiresKey" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="material-type">
                            <label for="material-type-select" class="contro-label has-normal-font-size">Type</label>
                            <br />
                            <select id="material-type-select" name="materialType">
                                <option value="Salvage">Salvage</option>
                                <option value="Plant">Plant</option>
                                <option value="Food">Food</option>
                                <option value="Remains">Remains</option>
                                <option value="Junk">Junk</option>
                            </select>
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="fuel">
                            <label for="input-fuelcount" class="contro-label has-normal-font-size">FuelCount</label>
                            <br />
                            <input id="input-fuelcount" name="fuelCount" class="form-control" type="number" min="1" max="10" value="1" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="none">
                            <label for="input-none" class="contro-label has-normal-font-size">None</label>
                            <br />
                            <input id="input-none" class="form-control" type="radio" value="none" name="materialDiversity" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="craftable">
                            <label for="input-craftable" class="contro-label has-normal-font-size">Is Craftable</label>
                            <br />
                            <input id="input-craftable" class="form-control" type="radio" value="craftable" name="materialDiversity" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="refineable">
                            <label for="input-refineable" class="contro-label has-normal-font-size">Is Refineable</label>
                            <br />
                            <input id="input-refineable" class="form-control" type="radio" value="refineable" name="materialDiversity" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="disolveable">
                            <label for="input-disolveable" class="contro-label has-normal-font-size">Is Disolveable</label>
                            <br />
                            <input id="input-disolveable" class="form-control" type="radio" value="disolveable" name="materialDiversity" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="durability">
                            <label for="input-durability" class="contro-label has-normal-font-size">Durability</label>
                            <br />
                            <input id="input-durability" name="durability" class="form-control" type="number" min="10" max="100" value="10" />
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="tools">
                            <label for="select-tool" class="contro-label has-normal-font-size">Required Tool</label>
                            <br />
                            <cache vary-by="@Model.Tools">
                                <select name="toolId" id="select-tool">
                                    @foreach (var tool in Model.Tools)
                                    {
                                        <option value="@tool.Id">@tool.Name</option>
                                    }
                                </select>
                            </cache>
                        </div>
                        <div class="form-group fade-in item-padding" style="display:none" id="materials">
                            <label for="input-relatedmaterials" class="contro-label has-normal-font-size">Related Materials</label>
                            <br />
                            <input type="text" id="input-relatedmaterials" name="relatedMaterials" class="form-control" />
                        </div>
                        <div class="form-group item-padding">
                            <input type="submit" value="Create" class="main-button" />
                        </div>
                        <div class="item-padding">
                            <hr />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    @section scripts
    {
        <script src="~/js/createItem.js"></script>
     }
