@{
    ViewData["Title"] = "End";
    Layout = "_Layout";
}
<title>End of Battle</title>
<partial name="_NavBar">
    <div class=" fade-in starting-div">
        <h1 class="secondary-font-color item-padding">You have killed your enemy!</h1>
        <div class="item-padding">
            <p class="has-large-font-size main-font-color">Back <a asp-controller="Hero" asp-action="All"><em>Home</em></a>?</p>
        </div>
        <div class="item-padding">
            <a asp-controller="World" asp-action="Home"><b class="has-large-font-size main-font-color">Back to World?</b></a>
        </div>
    </div>
    <div class="item-padding">
        <partial name="_Footer">
    </div>
