@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "End";
    Layout = "_Layout";
}

<partial name="_NavBar">
    <h1 class="has-text-align-center">You have killed your enemy!</h1>

    <div class="has-text-align-center">
        <a asp-controller="World" asp-action="Home"><b class="has-normal-font-size">Back to World!</b></a>
    </div>
    <partial name="_Footer">
