<!DOCTYPE html>
@{
    Layout = "_Layout";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="has-text-align-center item-padding fade-in">
        <h1 class="secondary-font-color">Damn! Something REALLY bugged out.</h1>
        <div class="item-padding">
            <hr />
            <div class="item-padding">
                <p class="main-font-color has-large-font-size">
                    Why don't you hop into the <a asp-controller="Forum" asp-action="Home"><span class="light-font-color">Forum</span></a>
                    and do some reading while we are trying to fix it?
                </p>
            </div>
        </div>
    </div>
</body>
</html>
