<title>Stop Spamming</title>
<div class="has-text-align-center starting-div fade-in">
    <h1 class="secondary-font-color item-padding">Woah, slow down there, buddy!</h1>
    <div class="item-padding">
        <hr />
        <div class="item-padding">
            <p class="main-font-color has-large-font-size">
                If you like spamming so much, we are recommending you to play<a href="https://worldofwarcraft.com/en-us/wowclassic">
                    <span class="light-font-color">World of Warcraft Classic</span>
                </a> (Frost Mage to be exact).
            </p>
        </div>
    </div>
</div>
