<title>Authentication Error</title>
<div class=" item-padding fade-in">
    <h1 class="secondary-font-color item-padding">Hmm, this content requires authentication.</h1>
    <div class="item-padding">
        <hr />
        <div class="item-padding">
            <p class="main-font-color has-large-font-size">Please, <a asp-area="Identity" asp-controller="Account" asp-action="Login"><span class="light-font-color">Login</span></a> to your account.</p>
        </div>
    </div>
</div>
