<title>Unavailable</title>
<div class="has-text-align-center starting-div fade-in">
    <h1 class="secondary-font-color item-padding">It seems that this service is unavailable at this moment.</h1>
    <div class="item-padding">
        <hr />
        <div class="item-padding">
            <p class="main-font-color has-large-font-size">Are we going back <a asp-controller="Profile" asp-action="Panel"><span class="light-font-color">Home?</span></a></p>
        </div>
    </div>
</div>
