<!DOCTYPE html>
@{
    Layout = "_Layout";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="has-text-align-center item-padding fade-in">
        <h1 class="secondary-font-color">Wow! That's a bit longer than we expected.</h1>
        <div class="item-padding">
            <hr />
            <div class="item-padding">
                <p class="main-font-color has-large-font-size">
                    Why don't you try to <a asp-controller="Topic" asp-action="Create"><span class="light-font-color">Write</span></a>
                    a Topic instead?
                </p>
            </div>
        </div>
    </div>
</body>
</html>
