@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<body>
    <header id="masthead" class="site-header full" style="top: -42px;margin-left:-140px;position:fixed">
        <div class="container">
            <div id="site-branding">
            </div>
            <div id="site-navigation" role="navigation" style="background-color:rgb(45, 54, 76);width:1986px;height:100px;margin-left:-150px;padding-top:28px">
                <div class="site-main-menu">
                    <ul id="primary-menu" class="demo-menu" style="font-size:35px">
                        <li style="padding-left:530px" class="page_item page-item-9"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                        <li class="page_item page-item-9"><a asp-controller="Admin" asp-action="Dashboard"><i class="fas fa-clipboard-list"></i>Dashboard</a></li>
                        <li class="page_item page-item-8"><a asp-controller="World" asp-action="Home"><i class="fas fa-globe-americas"></i>World</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Home" asp-action="MonsterCatalog"><i class="fas fa-dragon"></i>Monsters</a></li>
                        <li class="page_item page-item-2"><a asp-controller="PvP" asp-action="Home"><i class="fas fa-khanda"></i>PvP</a></li>
                    </ul>
                </div>
            </div>
            <div id="site-top-right">
            </div>
        </div>
    </header>
</body>
