@{
    Layout = "_Layout";
}
<footer id="colophon" class="site-footer main-gradient">
    <div id="bottom-footer">
        <div class="container clearfix">
            <p class="footer-menu has-text-align-center" style="font-size:23px;">The used graphical content is not my property and it's usage is NOT for commercial uses!</p>
            <div class="site-info-right"></div>
        </div>
    </div>
</footer>