<cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
    <footer id="colophon" class="site-footer main-gradient">
        <div id="bottom-footer">
            <div class=" clearfix">
                <hr />
                <p class="footer-menu has-text-align-center secondary-font-color" style="font-size:23px;"><em>The used graphical content is not my property and it's usage is NOT for commercial uses!</em></p>
                <div class="site-info-right"></div>
                <hr />
            </div>
        </div>
    </footer>
</cache>