<cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
    <header class="main-header has-text-align-center">
        <div id="site-navigation">
            <ul id="primary-menu" class="nav-font-size">
                <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Back to Main Page</a></li>
                <li><a asp-controller="Forum" asp-action="Home"><i class="fas fa-text-width"></i>Forum</a></li>
                <li><a asp-controller="Topic" asp-action="Create"><i class="fas fa-pen-alt"></i>Create Topic</a></li>
                <li><a asp-area="Identity" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    </header>
</cache>
