@{
    Layout = "_Layout";
}

<body class="nav-bar">
    <header id="masthead" class="site-header full" style="top: -42px;margin-left:-140px;position:fixed">
        <div class="container">
            <div id="site-branding">
            </div>
            <div id="site-navigation" role="navigation">
                <div class="main-nav-bar">
                    <ul id="primary-menu" class="demo-menu nav-font-size">
                        <li style="padding-left:600px" class="page_item page-item-9"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Back to Main Page</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Forum" asp-action="Home"><i class="fas fa-text-width"></i>Forum</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Topic" asp-action="Create"><i class="fas fa-pen-alt"></i>Create Topic</a></li>
                        <li class="page_item page-item-2"><a href="https://localhost:44312/Identity/Account/Logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id="site-top-right">
            </div>
        </div>
    </header>
</body>
