<cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
    <header class="main-header ">
        <div id="site-navigation">
            <ul id="primary-menu" class="nav-font-size">
                <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                <li><a asp-area="Identity" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
            </ul>
        </div>
    </header>
</cache>
