@{
    Layout = "_Layout";
}

<body class="nav-bar">
    <header id="masthead" class="site-header full" style="top: -42px;margin-left:-140px;position:fixed">
        <div class="container">
            <div id="site-navigation" role="navigation">
                <div class="main-nav-bar">
                    <ul id="primary-menu" class="demo-menu nav-font-size">
                        <li style="padding-left:860px" class="page_item page-item-9"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                        <li class="page_item page-item-2"><a asp-area="Identity" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
                    </ul>
                </div>
            </div>
            <div id="site-top-right">
            </div>
        </div>
    </header>
</body>
