<cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
    <header class="main-header has-text-align-center">
        <div id="site-navigation" role="navigation">
            <ul id="primary-menu" class="nav-font-size">
                <li class="page_item page-item-9"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                <li class="page_item page-item-2"><a asp-area="Identity" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt"></i>Log In</a></li>
            </ul>
        </div>
    </header>
</cache>
