@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link href="~/css/iconfont/icofont.min.css" rel="stylesheet" />
    <link rel="stylesheet" id="azuma-fonts-css" href="//fonts.googleapis.com/css?family=Rajdhani%3A300%2C400%2C500%2C600%2C700%7CRoboto%3A100%2C100i%2C300%2C300i%2C400%2C400i%2C500%2C500i%2C700%2C700i%2C900%2C900i&amp;subset=latin%2Clatin-ext" type="text/css" media="all">
    <meta name="viewport" content="width=device-width">
</head>
<body class="main-gradient">
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
