@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<body>
    <header id="masthead" class="site-header full" style="top: -42px;margin-left:-140px;position:fixed">
        <div class="container">
            <div id="site-branding">
            </div>
            <div id="site-navigation" role="navigation">
                <div class="main-nav-bar">
                    <ul id="primary-menu" class="nav-font-size">
                        <li style="padding-left:420px" class="page_item page-item-9"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                        <li class="page_item page-item-9"><a asp-controller="Profile" asp-action="Panel"><i class="fas fa-user-circle"></i>Profile</a></li>
                        <li class="page_item page-item-8"><a asp-controller="World" asp-action="Home"><i class="fas fa-globe-americas"></i>World</a></li>
                        <li class="page_item page-item-8"><a asp-controller="Forum" asp-action="Home"><i class="fas fa-text-width"></i>Forum</a></li>
                        <li class="page_item page-item-8"><a asp-controller="Social" asp-action="Home"><i class="fas fa-users"></i>Social</a></li>
                        <li class="page_item page-item-8"><a asp-controller="Home" asp-action="PrivacyPolicy"><i class="fas fa-eye"></i>Privacy Policy</a></li>
                        <li class="page_item page-item-2"><a href="https://localhost:44312/Identity/Account/Logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id="site-top-right">
            </div>
        </div>
    </header>
</body>
