<body>
    <header id="masthead" class="site-header full" style="top: -42px;margin-left:-140px;position:fixed">
        <div class="container">
            <div id="site-branding">
            </div>
            <div id="site-navigation" role="navigation">
                <div class="main-nav-bar">
                    <ul id="primary-menu" class="nav-font-size">
                        <li style="padding-left:500px" class="page_item page-item-9"><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Friends" asp-action="Requests"><i class="far fa-calendar-plus"></i>Friend Requests</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Notification" asp-action="All"><i class="fas fa-bullhorn"></i>Notifications</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Friends" asp-action="All"><i class="fas fa-user-friends"></i>Friends</a></li>
                        <li class="page_item page-item-2"><a href="https://localhost:44312/Identity/Account/Logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id="site-top-right">
            </div>
        </div>
    </header>
</body>
