<cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
    <header class="main-header has-text-align-center">
        <div id="site-navigation">
            <ul id="primary-menu" class="nav-font-size">
                <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                <li><a asp-controller="Friends" asp-action="Requests"><i class="far fa-calendar-plus"></i>Friend Requests</a></li>
                <li><a asp-controller="Notification" asp-action="All"><i class="fas fa-bullhorn"></i>Notifications</a></li>
                <li><a asp-controller="Friends" asp-action="All"><i class="fas fa-user-friends"></i>Friends</a></li>
                <li><a asp-area="Identity" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
            </ul>
        </div>
    </header>
</cache>
