@model Application.CQ.Users.Statuses.Queries.StatusListViewModel
@{
    Layout = "_Layout";
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    <partial name="_NavBar">
</head>
<body>

    <div class="has-text-align-center">
        <div class="modal-header">
            <h1 class="has-text-align-center">Statuses</h1>
        </div>
        <ul id="site-usp" style="list-style:none;">
            @foreach (var status in Model.Statuses)
            {
                <li class="item-padding"><a asp-controller="Profile" asp-action="UpdateStatus" asp-route-id="@status.Id"> <i class="@status.IClass has-huge-font-size"></i></a></li>
            }
        </ul>
    </div>
</body>

