@model Application.CQ.User.Status.Queries.StatusListViewModel
@{
    Layout = "_Layout";
}
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<head>
    @section scripts
{
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script>

            var TeamDetailPostBackURL = '/Profile/Panel';
            $(function () {
                $(".anchorDetail").click(function () {
                    debugger;
                    var $buttonClicked = $(this);
                    var id = $buttonClicked.attr('data-id');
                    var options = { "backdrop": "static", keyboard: true };
                    $.ajax({
                        type: "GET",
                        url: TeamDetailPostBackURL,
                        contentType: "application/json; charset=utf-8",
                        data: { "Id": id },
                        datatype: "json",
                        success: function (data) {
                            debugger;
                            $('#myModalContent').html(data);
                            $('#myModal').modal(options);
                            $('#myModal').modal('show');

                        },
                        error: function () {
                            alert("Dynamic content load failed.");
                        }
                    });
                });
                //$("#closebtn").on('click',function(){
                //    $('#myModal').modal('hide');

                $("#closbtn").click(function () {
                    $('#myModal').modal('hide');
                });
            });

        </script>

    }
</head>
<body>
    <div class="has-text-align-center">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Statuses</h4>
        </div>
        @foreach (var status in Model.Statuses)
        {
            <dl class="dl-horizontal">
                <dt class="has-larger-font-size">
                </dt>

                <dd class="has-larger-font-size">
                    <form asp-controller="Profile" asp-action="UpdateStatus" method="post">
                        <input type="submit" name="statusName" value="@status.DisplayName"/>
                    </form>
                <a asp-controller="Profile" asp-action="UpdateStatus" asp-route-id="@status.Id"><i class="@status.IClass"></i></a>
                </dd>
            </dl>
        }
        <div id='myModal' class='modal'>
            <div class="modal-dialog">
                <div class="modal-content">
                    <div id='myModalContent'></div>
                </div>
            </div>

        </div>
    </div>
</body>

