@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
    <header class="main-header">
        <div id="site-navigation">
            <ul id="primary-menu" class="nav-font-size">
                <li><a asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i>Home</a></li>
                <li><a asp-controller="Profile" asp-action="Panel"><i class="fas fa-user-circle"></i>Profile</a></li>
                <li><a asp-controller="World" asp-action="Home"><i class="fas fa-globe-americas"></i>World</a></li>
                <li><a asp-controller="Guide" asp-action="About"><i class="fas fa-scroll"></i>Guide</a></li>
                <li><a asp-controller="PvP" asp-action="Home"><i class="fas fa-khanda"></i>PvP</a></li>
                <li><a asp-controller="Craft" asp-action="Home"><i class="fas fa-hammer"></i>Craft</a></li>
                <li><a asp-controller="Shop" asp-action="Home"><i class="fas fa-store-alt"></i>Shop</a></li>
                <li><a asp-controller="Auction" asp-action="Home"><i class="fas fa-gavel"></i>Auction</a></li>
            </ul>
        </div>
    </header>
</cache>
