@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DashBoard";
}
<h1 class="has-text-align-center secondary-font-color">DashBoard</h1>
<partial name="_AdminNavBar">   
<body>
    
</body>
