<title>Dashboard</title>
<partial name="_AdminNavBar">
    <div class="fade-in starting-div">
        <h1 class="secondary-font-color has-larger-font-size item-padding">DashBoard</h1>
        <div class="item-padding">
            <hr />
        </div>
    </div>
