@{
    ViewData["Title"] = "Log out";
    Layout = "_Layout";
}
<meta http-equiv="refresh" content="1;url=https://localhost:44312/">
<header>
    <div class="fade-in">
        <h1 class="has-text-align-center secondary-font-color">@ViewData["Title"]</h1>
        <h3 class="has-text-align-center secondary-font-color">You have successfully logged out of the application.</h3>
    </div>
</header>