<meta http-equiv="refresh" content="1;url=https://localhost:44312/">
    <div class="fade-in item-padding">
        <h1 class="has-text-align-center secondary-font-color item-padding">Logout</h1>
        <h3 class="has-text-align-center secondary-font-color">You have successfully logged out of the application.</h3>
    </div>
