@model Application.CQ.Social.Topics.Commands.Create.CreateTopicCommand

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <partial name="_ForumNavBar">
</head>
<body>
    <div class="item-padding has-text-align-center fade-in">
        <h2 class="has-large-font-size main-font-color">Show others what you think</h2>
        <div class="item-padding">
            <hr />
        </div>
        
        <form asp-controller="Topic" asp-action="Create" method="post">
            <div class="item-padding">
                <input type="text" name="title" value="" placeholder="Title..." />
                <br />
                <span asp-validation-for="Title" class="text-danger fade-in main-font-color has-medium-font-size"></span>
            </div>
            <div class="item-padding has-text-align-center">
                <select name="category" class="has-narrow-width">
                    <option value="Game">Game</option>
                    <option value="Social">Social</option>
                    <option value="Complain">Complain</option>
                    <option value="Ideas">Ideas</option>
                </select>
                <br />
                <span asp-validation-for="Category" class="text-danger fade-in main-font-color has-medium-font-size"></span>
            </div>

            <div class="item-padding">
                <textarea rows="10" cols="100" name="content" class="topic-content-input" placeholder="Your thoughts"></textarea>
                <br />
                <span asp-validation-for="Content" class="text-danger fade-in main-font-color has-medium-font-size"></span>
            </div>
            <div class="item-padding has-text-align-center">
                <input type="submit" name="name" class="main-button" value="Create" />
            </div>
            <div class="item-padding">
            </div>
            <hr />
        </form>
    </div>



</body>
</html>