<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <partial name="_NavBar">
</head>
<body>
    <div class="has-text-align-center item-padding fade-in">
        <h1 class="secondary-font-color">We are sorry, but this content is still in Moderation and can not be deleted.</h1>
        <div class="item-padding">
            <hr />
            <div class="item-padding">
                <p class="main-font-color has-large-font-size">Are we going back to the<a asp-controller="Forum" asp-action="Home"><span class="light-font-color"> Forum?</span></a></p>
            </div>
        </div>
    </div>
</body>
</html>