<title>In Moderation</title>
<partial name="_NavBar">
    <div class="has-text-align-center starting-div fade-in">
        <h1 class="secondary-font-color item-padding">We are sorry, but this content is still in Moderation and can not be deleted.</h1>
        <div class="item-padding">
            <hr />
            <div class="item-padding">
                <p class="main-font-color has-large-font-size">Are we going back to the<a asp-controller="Forum" asp-action="Home"><span class="light-font-color"> Forum?</span></a></p>
            </div>
        </div>
    </div>
