<title>Create Fighting Class</title>
<partial name="_AdminNavBar">
    <div class="row has-text-align-center fade-in starting-div">
        <h1 class="main-font-color has-large-font-size item-padding">Create a Fighting Class</h1>
        <div class="col-md-4 item-padding">
            <hr />
            <form asp-controller="FightingClass" asp-action="Create" method="post">
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-classType" class="contro-label has-normal-font-size">Type</label>
                    <br />
                    <input type="text" id="input-classType" name="classType" class="form-control" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-hp" class="contro-label has-normal-font-size">Max HP</label>
                    <br />
                    <input type="number" id="input-hp" name="maxHP" class="form-control" min="80" max="999999999" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-mana" class="contro-label has-normal-font-size">Max Mana</label>
                    <br />
                    <input type="number" id="input-mana" name="maxMana" class="form-control" min="80" max="999999999" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-healthRegen" class="contro-label has-normal-font-size">Health Regen</label>
                    <br />
                    <input type="number" id="input-healthRegen" name="healthRegen" class="form-control" min="1" max="10000" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-manaRegen" class="contro-label has-normal-font-size">Mana Regen</label>
                    <br />
                    <input type="number" id="input-manaRegen" name="manaRegen" class="form-control" min="1" max="10000" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-attackPower" class="contro-label has-normal-font-size">Attack Power</label>
                    <br />
                    <input type="number" id="input-attackPower" name="attackPower" class="form-control" min="10" max="10000000" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-magicPower" class="contro-label has-normal-font-size">Magic Power</label>
                    <br />
                    <input type="number" id="input-magicPower" name="magicPower" class="form-control" min="10" max="10000000" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-armorValue" class="contro-label has-normal-font-size">Armor Value</label>
                    <br />
                    <input type="number" id="input-armorValue" name="armorValue" class="form-control" min="1" max="100000" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-resistanceValue" class="contro-label has-normal-font-size">Resistance Value</label>
                    <br />
                    <input type="number" id="input-resistanceValue" name="resistanceValue" class="form-control" min="1" max="100000" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-criticalChance" class="contro-label has-normal-font-size">Critical Chance</label>
                    <br />
                    <input type="number" id="input-criticalChance" name="criticalChance" class="form-control" min="1" max="50" />
                </div>
                <div class="form-group fade-in item-padding has-normal-font-size">
                    <label for="input-description" class="contro-label has-normal-font-size">Description</label>
                    <br />
                    <input type="text" id="input-description" name="description" class="form-control" />
                </div>
                <div class="form-group item-padding">
                    <input type="submit" value="Update" class="main-button" />
                </div>
                <div class="item-padding">
                    <hr />
                </div>
            </form>
        </div>
    </div>
