@model Application.CQ.Admin.Users.Queries.GetOnlineUsersQuery.UserListViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <partial name="_WorldNavbar">    
</head>
<body>
    <div class="fade-in">

    </div>
<div>
    
</div>
</body>
</html>
