@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<body>
    <partial name="_SideBars">
    <header id="masthead" class="site-header full" style="top: -42px;margin-left:-140px;position:fixed">
        <div class="container">
            <div id="site-branding">
            </div>
            <div id="site-navigation" role="navigation" style="background-color:rgb(45, 54, 76);width:1986px;height:100px;margin-left:-150px;padding-top:28px">
                <div class="site-main-menu">
                    <ul id="primary-menu" class="demo-menu" style="font-size:35px">
                        <li style="padding-left:400px" class="page_item page-item-9"><a asp-controller="Admin" asp-action="Dashboard"><i class="fas fa-chart-bar"></i>Dashboard</a></li>
                        <li class="page_item page-item-2"><a asp-controller="GameContent" asp-action="Content"><i class="fas fa-gamepad"></i>Game Content</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Feedback" asp-action="Feedbacks"><i class="fas fa-mail-bulk"></i>Feedbacks</a></li>
                        <li class="page_item page-item-2"><a asp-controller="ToDo" asp-action="List"><i class="fas fa-list-ol"></i>To Do List</a></li>
                        <li class="page_item page-item-2"><a asp-controller="Admin" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    </ul>
                </div>
            </div>
            <div id="site-top-right">
            </div>
        </div>
    </header>
</body>
