@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<meta http-equiv="refresh" content="1;url=https://localhost:44312/">
<header>
    <div class="fade-in starting-div">
        <h1 class="secondary-font-color item-padding has-large-font-size">@ViewData["Title"]</h1>
        <div class="item-padding">
            <hr />
            <h2 class="secondary-font-color has-normal-font-size">You have successfully logged out of the application.</h2>
        </div>
    </div>
</header>
