@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}
<meta http-equiv="refresh" content="1;url=https://localhost:44312/">
<header>
    <h1 class="has-text-align-center secondary-font-color">@ViewData["Title"]</h1>
    <h3 class="has-text-align-center secondary-font-color">You have successfully logged out of the application.</h3>
</header>