<title>Game Content</title>
<partial name="_AdminNavBar">
    <cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
        <div class="starting-div  fade-in">
            <a asp-controller="FightingClass" asp-action="Create"><i class="fas fa-khanda main-font-color has-massive-font-size bottom-right-icon"></i></a>
            <a asp-controller="Spell" asp-action="Create"><i class="fas fa-hat-wizard main-font-color has-massive-font-size bottom-right-icon" style="bottom:120px"></i></a>
            <a asp-controller="Item" asp-action="Create"><i class="fas fa-toolbox main-font-color has-massive-font-size bottom-right-icon" style="bottom:220px"></i></a>
            <a asp-controller="Monster" asp-action="Create"><i class="fas fa-dragon main-font-color has-massive-font-size bottom-right-icon" style="bottom:320px"></i></a>

            <h1 class="has-larger-font-size main-font-color item-padding">Game Content</h1>
            <div class="item-padding">
                <hr />
                <div class="item-padding">
                    <nav>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Items/slot?slot=Weapon" data-ajax-complete="Action"><i class="icofont-angry-monster main-font-color icofont-4x"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Items/slot?slot=Armor" data-ajax-complete="Action"><i class="icofont-shield-alt main-font-color icofont-3x"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Items/slot?slot=Trinket" data-ajax-complete="Action"><i class="icofont-woman-bird main-font-color icofont-3x"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Items/slot?slot=LootBox" data-ajax-complete="Action"><i class="fas fa-gem has-large-font-size main-font-color"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Items/slot?slot=Loot Key" data-ajax-complete="Action"><i class="icofont-key main-font-color icofont-3x"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Items/slot?slot=Material" data-ajax-complete="Action"><i class="icofont-leaf main-font-color icofont-3x"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Items/slot?slot=Tool" data-ajax-complete="Action"><i class="fas fa-hammer has-larger-font-size main-font-color"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Spells" data-ajax-complete="Action"><i class="fas fa-magic has-larger-font-size main-font-color"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/Monsters" data-ajax-complete="Action"><i class="icofont-tiger-face main-font-color icofont-3x"></i></a>
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/FightingClasses" data-ajax-complete="Action"><i class="icofont-magician-hat icofont-3x main-font-color"></i></a>
                    </nav>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
            </div>
            <div>
                <div class="item-padding " id="item" hidden>
                    <img src="" alt="Item Image">
                    <a href="/Administrator/Item/Current/id%26slot?id="><h3 class="main-font-color"></h3></a>
                    <a href="/Administrator/Item/Update/id%26slot?id="><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                    <form asp-controller="Item" asp-action="Delete" method="post" class="item-padding">
                        <input type="hidden" name="id" value="" />
                        <input type="submit" name="button" value="Delete" class="main-button" />
                        <input type="hidden" name="slot" value="" />
                    </form>
                    <hr />
                </div>
            </div>

            <div class="entry-content single-entry-content item-padding" id="fightingClass" hidden>
                <div class="entry-header with-image full site-background main-gradient">
                    <div class="wp-block-image is-style-circle-mask">
                        <figure class="size-large is-resized">
                            <img src="" alt="" width="100" height="100" />
                        </figure>
                    </div>
                    <a href="/Administrator/FightingClass/Current/id?id="><h1 class="main-font-color has-large-font-size"></h1></a>
                </div>
                <a href="/Administrator/FightingClass/Update/id?id="><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                <form asp-controller="FightingClass" asp-action="Delete" method="post" class="item-padding">
                    <input type="hidden" name="id" value="" />
                    <input type="submit" name="button" value="Delete" class="main-button" />
                </form>
                <hr />
            </div>

            <div id="monster" hidden>
                <div class="main-gradient secondary-background-color item-padding">
                    <div style="flex-basis: 33.33%">
                        <div class="wp-block-image">
                            <figure class="size-large is-resized">
                                <img src="" alt="Monster" width="100" height="100">
                            </figure>
                        </div>
                    </div>
                    <div class="wp-block-column" style="flex-basis:66.66%">
                        <h1 class="has-large-font-size"><a href="/Administrator/Monster/Current/id?id="><span class="light-font-color"></span></a></h1>
                    </div>
                </div>
                <a href="/Administrator/Monster/Update/id?id="><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                <form asp-controller="Monster" asp-action="Delete" method="post" class="item-padding">
                    <input type="hidden" name="id" value="" />
                    <input type="submit" name="button" value="Delete" class="main-button" />
                </form>
                <hr />
                <br />
            </div>

            <div class="item-padding" id="spell" hidden>
                <div class="wp-block-image">
                    <figure class="size-large is-resized">
                        <img src="" alt="Spell" width="100" height="100">
                    </figure>
                </div>
                <a href="/Administrator/Spell/Current/id?id="><h3 class="main-font-color"></h3></a>
                <a href="/Administrator/Spell/Update/id?id="><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                <form asp-controller="Spell" asp-action="Delete" method="post" class="item-padding">
                    <input type="hidden" name="id" value="" />
                    <input type="submit" name="button" value="Delete" class="main-button" />
                </form>
                <hr />
            </div>

            <main>

            </main>
        </div>
    </cache>

    <script>
        Action = (data) => {
            if (data.status == 200) {
                var element;
                var main = this.document.getElementsByTagName('main')[0];
                var cloneable;

                if (data.responseJSON.items !== undefined) {
                    cloneable = this.document.getElementById('item');
                    main.innerHTML = '';

                    data.responseJSON.fightingClasses.reduce(function (acc, el) {
                        element = cloneable.cloneNode(true);
                        element.style.display = 'block';

                        element.setAttribute('id', el.id);
                        element.querySelector('img').src = el.imagePath;
                        var name = element.querySelector('a');
                        name.href += `${el.id}&slot=${el.slot}`;
                        name.firstChild.textContent = el.name;
                        element.querySelectorAll('a')[1].href += `${el.id}&slot=${el.slot}`;
                        element.querySelector('form').firstChild.value = el.id;
                        element.querySelector('form').lastChild.value = el.id;

                        main.appendChild(element);
                    }, 0);

                } else {

                    var collection;

                    if (data.responseJSON.fightingClasses !== this.undefined) {

                        cloneable = this.document.getElementById('fightingClass');
                        collection = data.responseJSON.fightingClasses;
                    }
                    else if (data.responseJSON.hasOwnProperty('monsters')) {
                        cloneable = this.document.getElementById('monster');
                        collection = data.responseJSON.monsters;

                    } else if (data.responseJSON.hasOwnProperty('spells')) {
                        cloneable = this.document.getElementById('spell');
                        collection = data.responseJSON.spells;
                    }

                    main.innerHTML = '';
                    collection.reduce(function (acc, el) {
                        element = cloneable.cloneNode(true);
                        element.style.display = 'block';

                        element.setAttribute('id', el.id);
                        element.querySelector('img').src = el.imagePath;
                        var name = element.querySelector('a');
                        name.href += el.id;
                        name.firstChild.textContent = el.type != undefined ? el.type : el.name;
                        element.querySelectorAll('a')[1].href += el.id;
                        element.querySelector('form').firstChild.value = el.id;

                        main.appendChild(element);

                    }, 0);
                }

            } else {
                this.window.alert('Something went wrong!');
            }
        }
    </script>
