@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "GameContent";
    Layout = "_Layout";
}
<head>
    <partial name="_AdminNavBar">
</head>
<body>
    <div class="item-padding has-text-align-center fade-in">
        <a asp-controller="GameContent" asp-action="CreateUnit"><i class="fas fa-khanda main-font-color has-massive-font-size bottom-right-icon"></i></a>
        <a asp-controller="GameContent" asp-action="CreateSpell"><i class="fas fa-hat-wizard main-font-color has-massive-font-size bottom-right-icon" style="bottom:120px"></i></a>
        <a asp-controller="GameContent" asp-action="CreateItem"><i class="fas fa-toolbox main-font-color has-massive-font-size bottom-right-icon" style="bottom:220px"></i></a>

        <h2 class=has-larger-font-size main-font-color">Game Content</h2>
        <div class="item-padding">
            <hr />
            <div class="item-padding">
                <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Weapon"><i class="icofont-angry-monster main-font-color icofont-4x"></i> <span class="has-large-font-size main-font-color">Weapons</span></a>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Armor"><i class="icofont-shield-alt main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Armor</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Trinket"><i class="icofont-woman-bird main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Trinkets</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Treasure"><i class="fas fa-gem has-large-font-size main-font-color"></i> <span class="has-large-font-size main-font-color">Treasures</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Treasure Key"><i class="icofont-key main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Treasure Keys</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Material"><i class="icofont-leaf main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Materials</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Tool"><i class="fas fa-hammer has-larger-font-size main-font-color"></i> <span class="has-large-font-size main-font-color">Tools</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Spells"><i class="fas fa-magic has-larger-font-size main-font-color"></i> <span class="has-large-font-size main-font-color">Spells</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Monsters"><i class="icofont-tiger-face main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Monsters</span></a>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Classes"><i class="icofont-magician-hat icofont-3x main-font-color"></i> <span class="has-large-font-size main-font-color">Classes</span></a>
                </div>
            </div>
            <div class="item-padding">
                <hr />
            </div>
        </div>
    </div>


</body>

