@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "GameContent";
    Layout = "_Layout";
}
<head>
    <partial name="_AdminNavBar">
</head>
<body>
    <h1 class="has-text-align-center">Game Content</h1>
    <br/>        
    <div class="container">
        <div id="site-branding">
        </div>
        <div id="site-navigation" role="navigation" class="has-text-align-center" style="background-color:rgb(45, 54, 76);width:350px;height:1000px;margin-left:530px;padding-top:25px">
            <div class="site-main-menu aligncenter">
                <ul id="menu" class="demo-menu" style="font-size:35px; width:300px; list-style:none">
                    <li class="page_item page-item-9"><a asp-controller="GameContent" asp-action="Items"><i class="fas fa-ankh"></i>Items</a></li>
                    <li class="page_item page-item-2"><a asp-controller="GameContent" asp-action="Treasures"><i class="fas fa-gem"></i>Treasures</a></li>
                    <li class="page_item page-item-2"><a asp-controller="GameContent" asp-action="Spells"><i class="fas fa-magic"></i>Spells</a></li>
                </ul>
            </div>
        </div>
    </div>

</body>

