<title>Game Content</title>
<partial name="_AdminNavBar">
    <cache priority="Microsoft.Extensions.Caching.Memory.CacheItemPriority.NeverRemove">
        <div class="starting-div  fade-in">
            <a asp-controller="FightingClass" asp-action="Create"><i class="fas fa-khanda main-font-color has-massive-font-size bottom-right-icon"></i></a>
            <a asp-controller="Spell" asp-action="Create"><i class="fas fa-hat-wizard main-font-color has-massive-font-size bottom-right-icon" style="bottom:120px"></i></a>
            <a asp-controller="Item" asp-action="Create"><i class="fas fa-toolbox main-font-color has-massive-font-size bottom-right-icon" style="bottom:220px"></i></a>
            <a asp-controller="Monster" asp-action="Create"><i class="fas fa-dragon main-font-color has-massive-font-size bottom-right-icon" style="bottom:320px"></i></a>

            <h1 class="has-larger-font-size main-font-color item-padding">Game Content</h1>
            <div class="item-padding">
                <hr />
                <div class="item-padding">
                    <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Weapon"><i class="icofont-angry-monster main-font-color icofont-4x"></i> <span class="has-large-font-size main-font-color">Weapons</span></a>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Armor"><i class="icofont-shield-alt main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Armor</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Trinket"><i class="icofont-woman-bird main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Trinkets</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Items" asp-route-slot="LootBox"><i class="fas fa-gem has-large-font-size main-font-color"></i> <span class="has-large-font-size main-font-color">Treasures</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Loot Key"><i class="icofont-key main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Treasure Keys</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Material"><i class="icofont-leaf main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Materials</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Items" asp-route-slot="Tool"><i class="fas fa-hammer has-larger-font-size main-font-color"></i> <span class="has-large-font-size main-font-color">Tools</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Spells"><i class="fas fa-magic has-larger-font-size main-font-color"></i> <span class="has-large-font-size main-font-color">Spells</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a asp-controller="GameContent" asp-action="Monsters"><i class="icofont-tiger-face main-font-color icofont-3x"></i> <span class="has-large-font-size main-font-color">Monsters</span></a>
                    </div>
                    <div class="item-padding">
                        <hr />
                    </div>
                    <div class="item-padding">
                        <a data-ajax="true" data-ajax-url="/Administrator/GameContent/FightingClasses" data-ajax-complete="Action"><i class="icofont-magician-hat icofont-3x main-font-color"></i> <span class="has-large-font-size main-font-color">Classes</span></a>
                    </div>
                </div>
                <div class="item-padding">
                    <hr />
                </div>
            </div>
            <main>
                <div class="entry-content single-entry-content item-padding fightingClass" id="" hidden>
                    <div class="entry-header with-image full site-background main-gradient">
                        <div class="wp-block-image is-style-circle-mask">
                            <figure class="size-large is-resized">
                                <img src="" alt="" width="100" height="100" />
                            </figure>
                        </div>
                        <a href="/Administrator/FightingClass/Current/id?id="><h1 class="main-font-color has-large-font-size"></h1></a>
                    </div>
                    <a href="/Administrator/FightingClass/Update/id?id="><i class="fas fa-edit has-large-font-size main-font-color"></i></a>
                    <form asp-controller="FightingClass" asp-action="Delete" method="post" class="item-padding">
                        <input type="hidden" name="id" value="" />
                        <input type="submit" name="button" value="Delete" class="main-button" />
                    </form>
                </div>
            </main>
        </div>
    </cache>

    <script>
        Action = (data) => {
            if (data.status == 200) {
                var element;
                var main = this.document.getElementsByTagName('main')[0];

                if (data.responseJSON.fightingClasses !== this.undefined) {

                    data.responseJSON.fightingClasses.reduce(function (acc, el) {
                        element = this.document.getElementsByClassName('fightingClass')[0].cloneNode(true);
                        element.style.display = 'block';

                        element.setAttribute('id', el.id);
                        element.querySelector('img').src = el.imagePath;
                        var name = element.querySelector('a');
                        name.href += el.id;
                        name.firstChild.textContent = el.type;
                        element.querySelectorAll('a')[1].href += el.id;
                        element.querySelector('form').firstChild.value = el.id;

                        main.appendChild(element);

                    }, 0);

                } else if (data.responseJSON.hasOwnProperty('items')) {

                }
                else if (data.responseJSON.hasOwnProperty('monsters')) {

                } else if (data.responseJSON.hasOwnProperty('spells')) {

                }

            } else {
                this.window.alert('Something went wrong!');
            }
        }
    </script>
