@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Application.CQ.Admin.Treasure.Queries.GetAllTreasureQuery.TreasureListViewModel
@{
    ViewData["Title"] = "Treasures";
}
    <head>
        <partial name="_AdminNavBar">
    </head>
    <body>
        <h1 class="has-text-align-center main-font-color">Treasures</h1>

        @foreach (var treasure in Model.Treasures)
        {
            <img src="@treasure.ImageURL" alt="Treasure Image" />
            <h3>@treasure.Rarity</h3>
            <h3>@treasure.Reward</h3>
        }

    </body>

