@model Application.CQ.Moderator.Queries.GetAllTicketsQuery.TicketsListViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}
<title>AllTickets</title>
<div class="starting-div fade-in">
    <h1 class="has-larger-font-size main-font-color">Tickets</h1>
    <div class="item-padding">
        <hr />
        <div class="item-padding has-normal-font-size">
            @foreach (var ticket in Model.Tickets)
            {
                <p>@ticket.Category</p>
                <a asp-area="Moderator" asp-controller="Ticket" asp-action="Current" asp-route-ticketId="@ticket.Id"><span class="light-font-color">Open</span></a>
                <p>@ticket.SentOn</p>
            }
        <hr />
        </div>
    </div>
</div>
