@model Application.CQ.Admin.Moderation.Feedback.Queries.GetCurrentFeedbackQuery.FeedbackFullViewModel
<title>Current Feedback</title>
<partial name="_AdminNavBar">
    <div class="starting-div fade-in">
        <h1 class="item-padding">Reviewing Feedback</h1>
        <div class="item-padding has-text-align-center">
            <cache vary-by-query="id">
                <h2 class="main-font-color">A user wrote : @Model.Content</h2>
                <h2 class="main-font-color">This feedback was sent on @Model.SentOn.Date</h2>
                <form asp-controller="Feedback" asp-action="Accept" asp-route-id="@Model.Id" method="put">
                    <input type="number" name="stars" value="" placeholder="Enter stars reward" />
                    <input type="submit" name="" value="Accept" />
                </form>
                <form asp-controller="Feedback" asp-action="Delete" asp-route-id="@Model.Id" method="delete">
                    <input type="submit" name="" value="Delete" />
                </form>
            </cache>
        </div>
    </div>
