@model AppUser
<title>Social</title>
<partial name="_SocialNavBar">
    <div class="fade-in starting-div">
        <h1 class=" secondary-font-color has-large-font-size item-padding">Welcome to your Social Panel!</h1>
        <div class=" item-padding">
            <hr />
            <p class="main-font-color has-large-font-size">
                Here you can see your Social Activities, such as <a asp-controller="Friends" asp-action="Requests"><em class="main-font-color">Friend Requests</em></a>,
                <a asp-controller="Notification" asp-action="All"><em class="main-font-color">Notifications</em></a>
                and <a asp-controller="Friends" asp-action="All"><em class="main-font-color">Messages</em></a>.
            </p>
            <div class="item-padding">
                <form asp-controller="Social" asp-action="Search" method="get">
                    <input type="text" name="userName" value="" placeholder="Search for users..." />
                    <div class="item-padding">
                        <input type="submit" name="name" class="main-button" value="Search" />
                    </div>
                </form>
                <div class="item-padding">
                    <hr />
                </div>
            </div>
        </div>
    </div>
