@model string[]
<title>Search</title>
<partial name="_SocialNavBar">
    <div class="fade-in starting-div has-text-align-center">
        <h2 class="main-font-color has-large-font-size item-padding">Results</h2>
        <div class="item-padding">
            <hr />
        </div>
        <div class="item-padding">
            @if (Model.Count() == 1)
            {
                string errorMessage = Model[0];
                <p class="has-huge-font-size main-font-color">
                    @errorMessage
                </p>
            }
            else
            {
                var user = await this.UserManager.GetUserAsync(this.User);
                string userId = Model[0];
                string userName = Model[1];

                @if (user.Id == userId)
                {
                    <p class="has-huge-font-size main-font-color">
                        <a asp-controller="Profile" asp-action="Panel"><span class="light-font-color">@userName (You)</span></a>
                    </p>
                }
                else
                {
                    <p class="has-huge-font-size main-font-color">
                        <a asp-controller="Profile" asp-action="CurrentUser" asp-route-id="@userId"><span class="light-font-color">@userName</span></a>
                    </p>
                }

            }

        </div>
    </div>
