<meta http-equiv="refresh" content="2;url=https://localhost:44312/Forum/Home">
<title>TicketSent</title>
<partial name="_ForumNavBar">
    <div class="item-padding fade-in has-text-align-center">
        <h1 class="main-font-color has-large-font-size item-padding">Ticket succesfuly sent! Redirecting back to the <a asp-controller="Forum" asp-action="Home"></a><span class="light-font-color">Forum!</span></h1>
    </div>
