@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<title>Enemy Sighted</title>
<partial name="_NavBar">
    <div class="has-text-align-center fade-in starting-div">
        <h1 class="site-header secondary-font-color has-large-font-size item-padding">Enemy Sighted!</h1>
        <div class="item-padding"></div>
        <hr />
        <div class="item-padding">
            <a asp-controller="Battle" class="site-title" style="color:#1e5669" asp-action="Battle" asp-route-zone="World">Fight</a>
        </div>
    </div>
