@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "EnemyEncounter";
    Layout = "_Layout";
}
    <head>
        <partial name="_NavBar">
    </head>
<body>
    <div class="has-text-align-center fade-in item-padding">
        <h1 class="site-header secondary-font-color has-large-font-size">Enemy Encounter!</h1>
        <div class="item-padding"></div>
        <hr />
        <div class="item-padding">
            <a asp-controller="Battle" class="site-title" style="color:#1e5669" asp-action="Battle" asp-route-zone="World">Fight</a>
        </div>
    </div>
</body>
