<title class=" secondary-font-color">Not Enough Energy</title>
<partial name="_NavBar">
    <div class="starting-div fade-in">
        <h1 class=" main-font-color item-padding">Please, <a asp-controller="Hero" asp-action="All">Select</a> a Hero with enough energy.</h1>
        <div class="item-padding"></div>
        <hr />
    </div>
