
@{
    ViewData["Title"] = "EnergyError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title class="has-text-align-center secondary-font-color">Not Enough Energy</title>
    <partial name="_NavBar">
</head>
<body>
    <div class="item-padding">
        <h1 class="has-text-align-center main-font-color">Please, <a asp-controller="Hero" asp-action="All">Select</a> a Hero with enough energy.</h1>
        <div class="item-padding"></div>
        <hr />
    </div>
</body>
</html>

