@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<title>Explore</title>
<partial name="_NavBar">
    <div class="fade-in starting-div ">
        <h1 class="main-font-color item-padding has-large-font-size">Explore</h1>
        <hr />
        <div class="item-padding">
            <p class="has-normal-font-size main-font-color">No items found</p>
            <a asp-controller="World" asp-action="Explore">Walk</a>
        </div>
        <partial name="_Footer">
    </div>
