@model Application.GameCQ.Heroes.Queries.GetUnitListQuery.HeroListViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <partial name="_NavBar">
</head>
<body>
    @if (Model.Heroes.Count() == 0)
    {
        <div class="has-text-align-center item-padding">
            <h2 class="secondary-font-color">Please, <a asp-controller="Unit" asp-action="Create">Create</a> a unit first before starting your adventure!</h2>
        </div>

    }
    else if (!Model.Heroes.Any(u => u.IsSelected))
    {
        <div class="has-text-align-center item-padding">
            <h2 class="secondary-font-color">Please, <a asp-controller="Unit" asp-action="All">Select</a> a unit first before starting your adventure!</h2>
        </div>
    }
    else
    {
        <div class="has-text-align-center item-padding">
            <h2 class="secondary-font-color">Welcome to the World of FF! Lets start walking around!</h2>
            <div class="item-margin">
                <a asp-controller="World" asp-action="Explore"><i style="font-size:80px" class="fas fa-shoe-prints has-huge-font-size"></i></a>
            </div>
        </div>
    }
<div class="item-margin">
    <partial name="_Footer">
</div>

</body>
</html>
