@model Application.GameCQ.Heroes.Queries.GetUnitListQuery.HeroListViewModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <partial name="_WorldNavBar">
</head>
<body>
    <div class="fade-in">
        @if (Model.Heroes.Count() == 0)
        {
            <div class="has-text-align-center item-padding">
                <h2 class="secondary-font-color has-large-font-size">Please, <a asp-controller="Unit" asp-action="Create">Create</a> a unit first before starting your adventure!</h2>
                <div class="item-padding"></div>
                <hr />
            </div>

        }
        else if (!Model.Heroes.Any(u => u.IsSelected))
        {
            <div class="has-text-align-center item-padding">
                <h2 class="secondary-font-color has-large-font-size">Please, <a asp-controller="Unit" asp-action="All">Select</a> a unit first before starting your adventure!</h2>
                <div class="item-padding"></div>
                <hr />
            </div>
        }
        else
        {
            if (Model.Heroes.FirstOrDefault(h => h.IsSelected).CurrentHP == 0)
            {
                <div class="has-text-align-center item-padding">
                    <h2 class="secondary-font-color has-large-font-size">
                        Your Hero is heavily injured! Please, visit the <a asp-controller="Shop" asp-action="Home">Shop</a>
                        or the <a asp-controller="Auction" asp-action="Home">Auction</a> to buy Healing Items, or Select a different
                        <a asp-controller="Unit" asp-action="All">Hero</a>.
                    </h2>
                    <div class="item-padding"></div>
                    <hr />

                </div>
            }
            else
            {
                <div class="has-text-align-center item-padding">
                    <h2 class="secondary-font-color has-large-font-size">Welcome to the World of FF! Lets start walking around!</h2>
                    <div class="item-padding"></div>
                    <hr />
                    <div class="item-margin">
                        <a asp-controller="World" asp-action="Explore"><i style="font-size:80px" class="fas fa-shoe-prints has-huge-font-size"></i></a>
                    </div>
                </div>
            }
        }
        <div class="item-margin">
            <partial name="_Footer">
        </div>
    </div>
</body>
</html>
