@model string[]

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <partial name="_NavBar">
</head>
<body>
    <div class="item-padding">
        <h1 class="has-text-align-center main-font-color">@Model[1]</h1>
    </div>
</body>
</html>
