@model Application.GameCQ.Equipments.Queries.EquipmentViewModel

@{
    ViewData["Title"] = "Equipment";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Equipment</title>
    <partial name="_NavBar">
</head>
<body style="background-repeat:repeat; width:364px; height:441px; background-image:url('/items/itemBackground.png');">
    <div class="item-padding fade-in">
    </div>
</body>
</html>
