<title>Inventory</title>
<partial name="_NavBar">
    @{
        string heroId = Context.Request.Query["id"];
    }
    <div class="fade-in starting-div">
        <h1 class="secondary-font-color item-padding" id="title">Your Inventory</h1>
        <div class="item-padding">
            <hr />
            <a data-ajax="true" data-ajax-url="/Hero/Inventory/id%26slot?id=@heroId&slot=Armor" data-ajax-complete="Action"><i class="fas fa-shield-alt main-font-color has-massive-font-size bottom-right-icon" style="cursor:pointer"></i></a>
            <a data-ajax="true" data-ajax-url="/Hero/Inventory/id%26slot?id=@heroId&slot=Weapon" data-ajax-complete="Action"><i class="fas fa-khanda main-font-color has-massive-font-size bottom-right-icon" style="bottom:120px; cursor:pointer"></i></a>
            <a data-ajax="true" data-ajax-url="/Hero/Inventory/id%26slot?id=@heroId&slot=Trinket" data-ajax-complete="Action"><i class="fas fa-ankh main-font-color has-massive-font-size bottom-right-icon" style="right:130px; cursor:pointer"></i></a>
            <a data-ajax="true" data-ajax-url="/Hero/Inventory/id%26slot?id=@heroId&slot=Relic" data-ajax-complete="Action"><i class="fas fa-hamsa main-font-color has-massive-font-size bottom-right-icon" style="right:205px; cursor:pointer"></i></a>
            <a data-ajax="true" data-ajax-url="/Hero/Inventory/id%26slot?id=@heroId&slot=Loot Key" data-ajax-complete="Action"><i class="fas fa-gem main-font-color has-massive-font-size bottom-left-icon" style="cursor:pointer"></i></a>
            <a data-ajax="true" data-ajax-url="/Hero/Inventory/id%26slot?id=@heroId&slot=Material" data-ajax-complete="Action"><i class="fas fa-cog main-font-color has-massive-font-size bottom-left-icon" style="bottom:120px; cursor:pointer"></i></a>
            <a data-ajax="true" data-ajax-url="/Hero/Inventory/id%26slot?id=@heroId&slot=Tool" data-ajax-complete="Action"><i class="fas fa-hammer main-font-color has-massive-font-size bottom-left-icon" style="left:130px; cursor:pointer"></i></a>

            <h1 class="has-huge-font-size" id="time"></h1>

            <div id="items">

            </div>

            <div id="options">
                <form hidden data-ajax="true" data-ajax-method="post" data-ajax-url="/Hero/Equip" data-ajax-complete="InventoryAction" method="post" id="equip-temp">
                    <input type="hidden" name="id" value="" />
                    <input type="hidden" name="command" value="Equip" />
                    <input type="hidden" name="slot" value="" />
                    <input type="hidden" name="heroId" value="" />
                    <input type="submit" name="action" value="Equip" class="main-button" />
                </form>
                <form hidden method="post" data-ajax="true" data-ajax-method="post" data-ajax-url="/Hero/DiscardItem" data-ajax-complete="InventoryAction" class="item-padding" id="discard-temp">
                    <input type="hidden" name="id" value="" />
                    <input type="hidden" name="count" value="" />
                    <input type="hidden" name="slot" value="" />
                    <input type="hidden" name="heroId" value="" />
                    <input type="submit" name="action" value="Discard" class="main-button" />
                    <div class="item-padding"><hr /></div>
                </form>
            </div>
        </div>
    </div>
    @section scripts
    {
        <script>
            $(document).ready(function () {
                
                Action = (data) => {
                    var items = $('#items');
                    items.empty();

                    if (data.status == 200) {
                        $('#time').text(data.responseJSON.time);
                        if (data.responseJSON.items.length > 0) {
                            $(data.responseJSON.items).each(function (i) {
                                var item = data.responseJSON.items[i];
                                var itemInfo = $(`<div class="item-padding" id="${item.id}"></div>`);

                                $(`<img src="${item.imagePath}" alt="Item Image" />`).appendTo(itemInfo);

                                $(`<p class="main-font-color has-normal-font-size">${item.name} x ${item.count}</p>`).appendTo(itemInfo);
                                if (item.classType != null) {
                                    $(`<p class="main-font-color has-normal-font-size">Required Level : ${item.level}</p>`).appendTo(itemInfo);
                                }

                                if (item.sellPrice > 0)
                                {
                                    $(`<p class="main-font-color has-normal-font-size">Sell Price : ${item.sellPrice}</p>`).appendTo(itemInfo);
                                }

                                if (item.classType == 'Any' || item.classType == data.responseJSON.heroClass) {
                                    if (Number(item.level) <= data.responseJSON.heroLevel && Number(item.level) > 0) {
                                        var equipForm = $('#equip-temp').clone(true);
                                        var equipChildren = equipForm.children();

                                        equipForm.removeAttr('id');
                                        equipForm.removeAttr('hidden');

                                        equipChildren[0].value = item.id;
                                        equipChildren[2].value = item.slot;
                                        equipChildren[3].value = @heroId;

                                        equipForm.appendTo(itemInfo);
                                    }
                                }

                                var discardForm = $('#discard-temp').clone(true);

                                discardForm.removeAttr('id');
                                discardForm.removeAttr('hidden');

                                var discardChildren = discardForm.children();

                                discardChildren[0].value = item.id;
                                discardChildren[1].value = 1;
                                discardChildren[2].value = item.slot;
                                discardChildren[3].value = @heroId;
                                discardForm.appendTo(itemInfo);

                                items.append(itemInfo);
                            });
                            $('#title').text(`Reviewing the ${data.responseJSON.items[0].slot} section`);
                        } else {
                            $('#title').text('No items in this section');
                        }
                    }
                    else {
                        window.location.href = '/Error/Default';
                    }
                }
            });


        </script>
        <script src="~/js/inventoryaction.js"></script>
    }
