<meta http-equiv="refresh" content="1.2;url=https://localhost:44312/Hero/All">
<title>Killed</title>
<div class="fade-in starting-div  item-padding">
    <h1 class="has-large-font-size item-padding">You have been Killed</h1>
    <div class="item-padding">
        <hr />
        <p class="main-font-color has-normal-font-size">Returning Home...</p>
        <i class="icofont-skull-face"></i>
    </div>
</div>
