[*.cs]

# SA1117: Parameters should be on same line or separate lines
dotnet_diagnostic.SA1117.severity = silent

# SA1305: Field names should not use Hungarian notation
dotnet_diagnostic.SA1305.severity = silent

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = silent

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = none

# SA1402: File may only contain a single type
dotnet_diagnostic.SA1402.severity = none

# SA1118: Parameter should not span multiple lines
dotnet_diagnostic.SA1118.severity = silent

# SA1600: Elements should be documented
dotnet_diagnostic.SA1600.severity = suggestion

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = silent
