@model Application.CQ.Admin.Users.Queries.GetOnlineUsersQuery.UserListViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Friends</title>
    <partial name="_SocialNavBar">
</head>
<body>
    <div class="has-text-align-center fade-in">
        @if (Model.Users.Count() > 0)
        {
            foreach (var friend in Model.Users)
            {
                <div class="item-padding">
                    <p class="main-font-color has-large-font-size"><a asp-controller="Friends" asp-action="ViewProfile" asp-route-id="@friend.Id">@friend.UserName</a></p>
                    <a asp-controller="Message" asp-action="All" asp-route-id="@friend.Id"><i class="far fa-comment-alt has-large-font-size"></i></a>
                    <form asp-controller="Friends" asp-action="Remove" method="delete">
                        <input type="hidden" name="friendId" value="@friend.Id" />
                        <input type="submit" name="button" value="Delete" />
                    </form>
                    <hr />
                </div>
            }
        }
        else
        {
            <h1 class="has-text-align-center secondary-font-color">You currently don't have any Friends.</h1>
        }
    </div>
</body>
</html>
