@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model System.Security.Claims.ClaimsPrincipal
@using Common
@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<head>
    <style type="text/css" id="custom-background-css">
        body.custom-background {
            background-image: url("https://i.ibb.co/KyxCNsq/lampa.jpg");
            background-position: center;
            background-size: cover;
            background-repeat: round;
            background-attachment: scroll;
        }
    </style>
    @if (Model.Identity.IsAuthenticated)
    {
        if (Model.IsInRole(GConst.AdminRole))
        {
            await Html.RenderPartialAsync("_AdminNavBar");
        }
        if (Model.IsInRole(GConst.UserRole))
        {
            await Html.RenderPartialAsync("_NavBar");
        }
    }
    else
    {
        await Html.RenderPartialAsync("_GuestNavBar");
    }
</head>

<body class="home page-template-default page page-id-6 logged-in admin-bar custom-background customize-support site-home">
    <div id="page">
        <header class="entry-header with-image full">
            <div class="title-meta-wrapper">
                <h1 class="site-title"><a asp-controller="Home" asp-action="Index">Final Fantasy Tryout</a></h1>

                <div class="container">
                    <h1 class="has-luminous-vivid-amber-color has-text-color has-text-align-center">Join other players in order to take what’s yours!</h1>
                </div>
            </div>
        </header>
        @if (!Model.Identity.IsAuthenticated)
        {
            <div id="content" class="site-content clearfix">
                <div class="container clearfix">

                    <div id="primary" class="content-area full-width">
                        <main id="main" class="site-main" role="main">

                            <article id="post-6" class="post-6 page type-page status-publish hentry">

                                <div class="entry-content single-entry-content">

                                    <div class="wp-block-button aligncenter is-style-fill"><a href="https://localhost:44341/Identity/Account/Register" class="wp-block-button__link has-text-color has-background creation-button"><strong>Join Now</strong></a></div>
                                </div>

                            </article>
                        </main>
                    </div>
                </div>

            </div>
        }
        <partial name="_CookieConsentPartial" />
        <br />
        <partial name="_Footer">
    </div>
</body>
