@model System.Security.Claims.ClaimsPrincipal
@using Common

@if (Model.IsInRole(GConst.AdminRole))
{
    await Html.RenderPartialAsync("_AdminNavBar");
}
else if (Model.IsInRole(GConst.UserRole))
{
    await Html.RenderPartialAsync("_NavBar");
}
else
{
    await Html.RenderPartialAsync("_GuestNavBar");
}
<title>Home</title>
    <div class="fade-in starting-div">
        <h1 class="site-title item-padding"><a asp-controller="Home" asp-action="Index"><span class="secondary-font-color">Final Fantasy Tryout</span></a></h1>
        <div class="item-padding">
            @if (!Model.Identity.IsAuthenticated)
            {
                <div class="container">
                    <h1 class="main-font-color ">Join other players in order to take what’s yours!</h1>
                </div>
            }
            else
            {
                <div class="container">
                    <h1 class="main-font-color ">Final Fantasy Tryout is an individual project by Hristo Todorov.</h1>
                    <h2 class="main-font-color ">The Game rules are very simple : Attack, Endure, Win!</h2>
                </div>
            }
        </div>
        <div id="content" class="site-content clearfix">
            <div class="container clearfix">

                <div id="primary" class="content-area full-width">
                    <main id="main" class="site-main" role="main">
                        @if (!Model.Identity.IsAuthenticated)
                        {
                            <article id="post-6" class="post-6 page type-page status-publish hentry">

                                <div class="entry-content single-entry-content item-padding">
                                    <div class=""><a href="https://localhost:44312/Identity/Account/Register" class="main-font-color has-large-font-size"><strong>Join Now</strong></a></div>
                                </div>

                            </article>
                        }
                    </main>
                </div>
            </div>
        </div>
        <partial name="_CookieConsentPartial" />
        <div class="item-padding">
            <partial name="_Footer">
        </div>
    </div>
